<form [formGroup]="form" (ngSubmit)="salva()" class="needs-validation" novalidate>

  <fieldset class="fieldset">
    <legend class="legend">
      <fa-icon icon="screwdriver" class="icon-padding"></fa-icon>Parametri
    </legend>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="DRAFT" class="control-label">DRAFT</label>
          <input type="number" class="form-control" id="DRAFT" name="DRAFT" formControlName="DRAFT" [ngClass]="{'is-invalid': form.controls.DRAFT.invalid && form.controls.DRAFT.dirty}">
          <div *ngIf="form.get('DRAFT').hasError('required') && form.get('DRAFT').dirty" class="invalid-feedback">Il campo DRAFT è obbligatorio</div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="MAX_CONTRACTS" class="control-label">MAX_CONTRACTS</label>
          <input type="number" class="form-control" id="MAX_CONTRACTS" name="MAX_CONTRACTS" formControlName="MAX_CONTRACTS"
            [ngClass]="{'is-invalid': form.controls.MAX_CONTRACTS.invalid && form.controls.MAX_CONTRACTS.dirty}">
          <div *ngIf="form.get('MAX_CONTRACTS').hasError('required') && form.get('MAX_CONTRACTS').dirty" class="invalid-feedback">Il campo MAX_CONTRACTS è obbligatorio</div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="MAX_EXT_OPT_345" class="control-label">MAX_EXT_OPT_345</label>
          <input type="number" class="form-control" id="MAX_EXT_OPT_345" name="MAX_EXT_OPT_345" formControlName="MAX_EXT_OPT_345"
            [ngClass]="{'is-invalid': form.controls.MAX_EXT_OPT_345.invalid && form.controls.MAX_EXT_OPT_345.dirty}">
          <div *ngIf="form.get('MAX_EXT_OPT_345').hasError('required') && form.get('MAX_EXT_OPT_345').dirty" class="invalid-feedback">Il campo MAX_EXT_OPT_345 è obbligatorio</div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="MAX_PLAYERS_IN_ROSTER" class="control-label">MAX_PLAYERS_IN_ROSTER</label>
          <input type="number" class="form-control" id="MAX_PLAYERS_IN_ROSTER" name="MAX_PLAYERS_IN_ROSTER" formControlName="MAX_PLAYERS_IN_ROSTER"
            [ngClass]="{'is-invalid': form.controls.MAX_PLAYERS_IN_ROSTER.invalid && form.controls.MAX_PLAYERS_IN_ROSTER.dirty}">
          <div *ngIf="form.get('MAX_PLAYERS_IN_ROSTER').hasError('required') && form.get('MAX_PLAYERS_IN_ROSTER').dirty" class="invalid-feedback">Il campo MAX_PLAYERS_IN_ROSTER è obbligatorio
          </div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="MAX_STRANGERS_OPT_55" class="control-label">MAX_STRANGERS_OPT_55</label>
          <input type="number" class="form-control" id="MAX_STRANGERS_OPT_55" name="MAX_STRANGERS_OPT_55" formControlName="MAX_STRANGERS_OPT_55"
            [ngClass]="{'is-invalid': form.controls.MAX_STRANGERS_OPT_55.invalid && form.controls.MAX_STRANGERS_OPT_55.dirty}">
          <div *ngIf="form.get('MAX_STRANGERS_OPT_55').hasError('required') && form.get('MAX_STRANGERS_OPT_55').dirty" class="invalid-feedback">Il campo MAX_STRANGERS_OPT_55 è obbligatorio</div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="MIN_NAT_PLAYERS" class="control-label">MIN_NAT_PLAYERS</label>
          <input type="number" class="form-control" id="MIN_NAT_PLAYERS" name="MIN_NAT_PLAYERS" formControlName="MIN_NAT_PLAYERS"
            [ngClass]="{'is-invalid': form.controls.MIN_NAT_PLAYERS.invalid && form.controls.MIN_NAT_PLAYERS.dirty}">
          <div *ngIf="form.get('MIN_NAT_PLAYERS').hasError('required') && form.get('MIN_NAT_PLAYERS').dirty" class="invalid-feedback">Il campo MIN_NAT_PLAYERS è obbligatorio</div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="RESULT_DIVISOR" class="control-label">RESULT_DIVISOR</label>
          <input type="number" class="form-control" id="RESULT_DIVISOR" name="RESULT_DIVISOR" formControlName="RESULT_DIVISOR"
            [ngClass]="{'is-invalid': form.controls.RESULT_DIVISOR.invalid && form.controls.RESULT_DIVISOR.dirty}">
          <div *ngIf="form.get('RESULT_DIVISOR').hasError('required') && form.get('RESULT_DIVISOR').dirty" class="invalid-feedback">Il campo RESULT_DIVISOR è obbligatorio</div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="RESULT_WITH_GRADE" class="control-label">RESULT_WITH_GRADE</label>
          <input type="number" class="form-control" id="RESULT_WITH_GRADE" name="RESULT_WITH_GRADE" formControlName="RESULT_WITH_GRADE"
            [ngClass]="{'is-invalid': form.controls.RESULT_WITH_GRADE.invalid && form.controls.RESULT_WITH_GRADE.dirty}">
          <div *ngIf="form.get('RESULT_WITH_GRADE').hasError('required') && form.get('RESULT_WITH_GRADE').dirty" class="invalid-feedback">Il campo RESULT_WITH_GRADE è obbligatorio</div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="RESULT_WITH_OER" class="control-label">RESULT_WITH_OER</label>
          <input type="number" class="form-control" id="RESULT_WITH_OER" name="RESULT_WITH_OER" formControlName="RESULT_WITH_OER"
            [ngClass]="{'is-invalid': form.controls.RESULT_WITH_OER.invalid && form.controls.RESULT_WITH_OER.dirty}">
          <div *ngIf="form.get('RESULT_WITH_OER').hasError('required') && form.get('RESULT_WITH_OER').dirty" class="invalid-feedback">Il campo RESULT_WITH_OER è obbligatorio</div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="RESULT_WITH_PLUS_MINUS" class="control-label">RESULT_WITH_PLUS_MINUS</label>
          <input type="number" class="form-control" id="RESULT_WITH_PLUS_MINUS" name="RESULT_WITH_PLUS_MINUS" formControlName="RESULT_WITH_PLUS_MINUS"
            [ngClass]="{'is-invalid': form.controls.RESULT_WITH_PLUS_MINUS.invalid && form.controls.RESULT_WITH_PLUS_MINUS.dirty}">
          <div *ngIf="form.get('RESULT_WITH_PLUS_MINUS').hasError('required') && form.get('RESULT_WITH_PLUS_MINUS').dirty" class="invalid-feedback">Il campo RESULT_WITH_PLUS_MINUS è obbligatorio
          </div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="TREND" class="control-label">TREND</label>
          <input type="number" class="form-control" id="TREND" name="TREND" formControlName="TREND" [ngClass]="{'is-invalid': form.controls.TREND.invalid && form.controls.TREND.dirty}">
          <div *ngIf="form.get('TREND').hasError('required') && form.get('TREND').dirty" class="invalid-feedback">Il campo TREND è obbligatorio</div>
        </div>
      </div>

    </div>
  </fieldset>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salva</button>&nbsp;
  </div>

</form>
