<div *ngIf="formControl && formControl.hasError('required') && formControl.dirty" class="error-message text-danger">
  <span *ngIf="!customMessage; else customMessageTemplate"> Il campo {{ formControlName }} è obbligatorio </span>
</div>
<div *ngIf="formControl && formControl.hasError('min') && formControl.dirty" class="error-message text-danger">
  <span *ngIf="!customMessage; else customMessageTemplate"
    >Il campo {{ formControlName }} è inferiore a {{ formControl.errors['min'].min }}</span
  >
</div>
<div *ngIf="formControl && formControl.hasError('max') && formControl.dirty" class="error-message text-danger">
  <span *ngIf="!customMessage; else customMessageTemplate"
    >Il campo {{ formControlName }} è superiore a {{ formControl.errors['max'].max }}</span
  >
</div>
<div *ngIf="formControl && formControl.hasError('lineupInvalid') && formControl.dirty" class="error-message text-danger">
  <span *ngIf="!customMessage; else customMessageTemplate">La formazione inserita è sbagliata</span>
</div>
<div *ngIf="fg && fg.hasError('mustBeDifferent') && fg.dirty" class="error-message text-danger">
  <span *ngIf="!customMessage; else customMessageTemplate"
    >{{ fg.errors['mustBeDifferent'].field1 }} non può coincidere con {{ fg.errors['mustBeDifferent'].field2 }}</span
  >
</div>

<ng-template #customMessageTemplate>{{ customMessage }}</ng-template>
