<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  <ng-container formArrayName="matchArray" *ngFor="let match of matches; let i = index">
    <fieldset class="fieldset" [formGroupName]="i">
      <legend class="legend">
        <fa-icon icon="basketball-ball" class="icon-padding"></fa-icon>{{ match.homeTeam.name }} - {{ match.awayTeam.name }}
      </legend>
      <div fxLayout="row wrap" fxLayoutAlign="space-between">
        <div fxFlex="24" fxFlex.sm="49" fxFlex.xs="100">
          <div class="mb-3">
            <label for="homeRanking-{{ i }}" class="control-label">Valutazione casa</label>
            <input type="number" class="form-control" id="homeRanking-{{ i }}" formControlName="homeRanking" />
          </div>
        </div>

        <div fxFlex="24" fxFlex.sm="49" fxFlex.xs="100">
          <div class="mb-3">
            <label for="awayRanking-{{ i }}" class="control-label">Valutazione trasferta</label>
            <input type="number" class="form-control" id="awayRanking-{{ i }}" formControlName="awayRanking" />
          </div>
        </div>

        <div fxFlex="24" fxFlex.sm="49" fxFlex.xs="100">
          <div class="mb-3">
            <label for="homeGrade-{{ i }}" class="control-label">Voti casa</label>
            <input type="number" class="form-control" id="homeGrade-{{ i }}" formControlName="homeGrade" />
          </div>
        </div>

        <div fxFlex="24" fxFlex.sm="49" fxFlex.xs="100">
          <div class="mb-3">
            <label for="awayGrade-{{ i }}" class="control-label">Voti trasferta</label>
            <input type="number" class="form-control" id="awayGrade-{{ i }}" formControlName="awayGrade" />
          </div>
        </div>

        <div fxFlex="24" fxFlex.sm="49" fxFlex.xs="100">
          <div class="mb-3">
            <label for="homeScore-{{ i }}" class="control-label">Punteggio casa *</label>
            <input
              type="number"
              class="form-control"
              id="homeScore-{{ i }}"
              formControlName="homeScore"
              [ngClass]="{ 'is-invalid': getFormControl(i, 'homeScore').invalid && getFormControl(i, 'homeScore').dirty }"
            />
            <fbm-error-message [form-control]="getFormControl(i, 'homeScore')" name="Punteggio casa"></fbm-error-message>
          </div>
        </div>

        <div fxFlex="24" fxFlex.sm="49" fxFlex.xs="100">
          <div class="mb-3">
            <label for="awayScore-{{ i }}" class="control-label">Punteggio trasferta *</label>
            <input
              type="number"
              class="form-control"
              id="awayScore-{{ i }}"
              formControlName="awayScore"
              [ngClass]="{ 'is-invalid': getFormControl(i, 'awayScore').invalid && getFormControl(i, 'awayScore').dirty }"
            />
            <fbm-error-message [form-control]="getFormControl(i, 'awayScore')" name="Punteggio trasferta"></fbm-error-message>
          </div>
        </div>

        <div fxFlex="24" fxFlex.sm="49" fxFlex.xs="100">
          <div class="mb-3">
            <label for="overtime-{{ i }}" class="control-label">Overtime</label>
            <input type="number" class="form-control" id="overtime-{{ i }}" formControlName="overtime" />
          </div>
        </div>

        <div fxFlex="100">
          <div class="mb-3">
            <div class="form-check form-switch">
              <input
                type="checkbox"
                class="form-check-input"
                id="completed-{{ i }}"
                formControlName="completed"
                (change)="manageCompleted(i)"
              />
              <label class="form-check-label" for="completed-{{ i }}">Completata</label>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
  </ng-container>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 pb-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      <fa-icon icon="save" class="icon-padding"></fa-icon>Salva
    </button>
    <button type="button" class="btn btn-primary" (click)="cancel.emit()">
      <fa-icon icon="undo" class="icon-padding"></fa-icon>Annulla
    </button>
  </div>
</form>
