<div class="float manina" (click)="newPlayer()">
  <fa-icon icon="plus" class="float-icon"></fa-icon>
</div>
<div class="float-2 indent manina" (click)="openUploadPopup()" *ngIf="leagueInfo?.preSeason">
  <fa-icon icon="upload" class="float-icon"></fa-icon>
</div>

<fieldset class="fieldset" *ngIf="percentage === 0; else uploadInProgress">
  <legend class="legend"><fa-icon icon="id-badge" class="icon-padding"></fa-icon>Giocatori</legend>
  <ng-container *ngIf="(rosterList?.content && rosterList?.totalElements > 0) || filter != null; else empty">
    <form #form="ngForm" class="form-inline pb-1">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          id="filtro"
          name="filtro"
          #filtro="ngModel"
          [(ngModel)]="filter"
          (ngModelChange)="this.filter$.next($event)"
          placeholder="Filtro"
        />
        <span class="input-group-text manina" (click)="clearFilter()">x</span>
      </div>
    </form>
    <h6 class="text-end">Numero totale di giocatori: {{ rosterList?.totalElements }}</h6>
    <div class="table-responsive">
      <table class="table table-hover" aria-label="Giocatori">
        <thead class="table-dark">
          <tr>
            <th id="name">Nome</th>
            <th id="nationality">Nazionalità</th>
            <th id="number">#</th>
            <th id="yearBirth">Anno di nascita</th>
            <th id="height">Altezza</th>
            <th id="weight">Peso</th>
            <th id="role">Ruolo</th>
            <th id="fullName">Squadra</th>
            <th id="actions">Azioni</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let roster of rosterList.content" class="table-secondary">
            <td>{{ roster.player.name }}</td>
            <td>{{ roster.player.nationality }}</td>
            <td>{{ roster.player.number }}</td>
            <td>{{ roster.player.yearBirth }}</td>
            <td>{{ roster.player.height }}</td>
            <td>{{ roster.player.weight }}</td>
            <td>{{ roster.player.role }}</td>
            <td>{{ roster.team.fullName }}</td>

            <td class="text-nowrap">
              <button type="button" class="btn btn-warning me-2" (click)="update(roster)" tooltip="Modifica" placement="top">
                <fa-icon icon="pencil-alt"></fa-icon>
              </button>
              <button type="button" class="btn btn-success" (click)="clone(roster)" tooltip="Clona" placement="top">
                <fa-icon icon="clone"></fa-icon>
              </button>
              <button type="button" class="btn btn-danger ms-2" (click)="openDeletePopup(roster)" tooltip="Elimina" placement="top">
                <fa-icon icon="trash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination
      *ngIf="enablePagination()"
      class="justify-content-center"
      [totalItems]="rosterList.totalElements"
      [(ngModel)]="page"
      [itemsPerPage]="limit"
      (pageChanged)="pageChange($event)"
      [maxSize]="maxSize"
      [boundaryLinks]="boundaryLinks"
      firstText="<<"
      previousText="<"
      nextText=">"
      lastText=">>"
    ></pagination>
  </ng-container>

  <ng-template #empty>
    <h4 class="p-3">Nessun giocatore presente</h4>
  </ng-template>
</fieldset>

<!-- progress bar -->
<ng-template #uploadInProgress>
  <div class="text-center padding m-3">
    <h4>Percentuale di avanzamento del processo di upload</h4>
    <progressbar [value]="percentage" [type]="progressbarType" [striped]="true" style="height: 50px" class="mb-3"
      >{{ percentage | number: '1.0-0' }}%</progressbar
    >
    <button type="button" class="btn btn-primary" (click)="reloadPage()" *ngIf="percentage === 100">
      <fa-icon icon="sync" class="icon-padding"></fa-icon>Ricarica lista
    </button>
  </div>
</ng-template>

<!-- popup delete -->
<fbm-popup-confirm
  #popupConfermaElimina
  title="Elimina giocatore"
  btnConfirm="Elimina"
  btnCancel="Annulla"
  (confirm)="confirmDelete()"
  (cancel)="popupConfermaElimina.closeModal()"
>
  Vuoi eliminare il giocatore? Attenzione, l'operazione è irreversibile!
</fbm-popup-confirm>

<!-- modal player form -->
<div
  *ngIf="showModalPlayerForm"
  class="modal fade"
  bsModal
  #modalPlayerForm="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  (onHidden)="onHidden()"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">{{ titoloModale }}</h4>
      </div>

      <div class="modal-body">
        <fbm-player-form [roster]="rosterSelected" [leagueInfo]="leagueInfo" (save)="save($event)" (cancel)="hideModal()"></fbm-player-form>
      </div>
    </div>
  </div>
</div>

<!-- popup upload -->
<fbm-upload #popupUpload title="Upload giocatori" (upload)="confirmUpload($event)" (cancel)="popupUpload.closeModal()"></fbm-upload>
