<form [formGroup]="form" (ngSubmit)="step2()" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend class="legend"><fa-icon icon="info-circle" class="icon-padding"></fa-icon>Nuova stagione</legend>
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="name" class="control-label">Nome *</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            formControlName="name"
            [ngClass]="{ 'is-invalid': form.get('name').invalid && form.get('name').dirty }"
          />
          <fbm-error-message [form-control]="form.get('name')" name="Nome"></fbm-error-message>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mb-3">
          <label for="realGames" class="control-label">Partite reali *</label>
          <input
            type="number"
            min="0"
            max="34"
            class="form-control"
            id="realGames"
            name="realGames"
            formControlName="realGames"
            [ngClass]="{ 'is-invalid': form.get('realGames').invalid && form.get('realGames').dirty }"
          />
          <fbm-error-message [form-control]="form.get('realGames')" name="Partite reali"></fbm-error-message>
        </div>
      </div>

      <div class="col-8 col-sm-6">
        <div class="mb-3" [ngClass]="{ 'is-invalid': form.get('regularSeasonFormat').invalid && form.get('regularSeasonFormat').dirty }">
          <label for="regularSeasonFormat" class="control-label">Stagione regolare *</label>
          <ng-select
            id="regularSeasonFormat"
            name="regularSeasonFormat"
            [items]="regularSeasonFormatList"
            bindLabel="value.label"
            formControlName="regularSeasonFormat"
            clearAllText="Elimina"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('regularSeasonFormat')" name="Stagione regolare"></fbm-error-message>
        </div>
      </div>

      <div class="col-4 col-sm-6">
        <div class="mb-3">
          <label for="roundRobinFirstRealFixture" class="control-label">Prima giornata reale *</label>
          <input
            type="number"
            min="1"
            max="34"
            class="form-control"
            id="roundRobinFirstRealFixture"
            name="roundRobinFirstRealFixture"
            formControlName="roundRobinFirstRealFixture"
            [ngClass]="{ 'is-invalid': form.get('roundRobinFirstRealFixture').invalid && form.get('roundRobinFirstRealFixture').dirty }"
          />
          <fbm-error-message [form-control]="form.get('roundRobinFirstRealFixture')" name="Prima giornata reale"></fbm-error-message>
        </div>
      </div>

      <div class="col-8 col-sm-6">
        <div class="mb-3" [ngClass]="{ 'is-invalid': form.get('playoffFormat').invalid && form.get('playoffFormat').dirty }">
          <label for="playoffFormat" class="control-label">Playoff *</label>
          <ng-select
            id="playoffFormat"
            name="playoffFormat"
            [items]="playoffFormatList"
            bindLabel="value.label"
            formControlName="playoffFormat"
            clearAllText="Elimina"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('playoffFormat')" name="Playoff"></fbm-error-message>
        </div>
      </div>

      <div class="col-4 col-sm-6">
        <div class="mb-3">
          <label for="playoffFirstRealFixture" class="control-label">Prima giornata reale *</label>
          <input
            type="number"
            min="1"
            max="34"
            class="form-control"
            id="playoffFirstRealFixture"
            name="playoffFirstRealFixture"
            formControlName="playoffFirstRealFixture"
            [ngClass]="{ 'is-invalid': form.get('playoffFirstRealFixture').invalid && form.get('playoffFirstRealFixture').dirty }"
          />
          <fbm-error-message [form-control]="form.get('playoffFirstRealFixture')" name="Prima giornata reale"></fbm-error-message>
        </div>
      </div>

      <div class="col-8 col-sm-6">
        <div class="mb-3" [ngClass]="{ 'is-invalid': form.get('playoutFormat').invalid && form.get('playoutFormat').dirty }">
          <label for="playoutFormat" class="control-label">Playout *</label>
          <ng-select
            id="playoutFormat"
            name="playoutFormat"
            [items]="playoutFormatList"
            bindLabel="value.label"
            formControlName="playoutFormat"
            clearAllText="Elimina"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('playoutFormat')" name="Playout"></fbm-error-message>
        </div>
      </div>

      <div class="col-4 col-sm-6">
        <div class="mb-3">
          <label for="playoutFirstRealFixture" class="control-label">Prima giornata reale *</label>
          <input
            type="number"
            min="1"
            max="34"
            class="form-control"
            id="playoutFirstRealFixture"
            name="playoutFirstRealFixture"
            formControlName="playoutFirstRealFixture"
            [ngClass]="{ 'is-invalid': form.get('playoutFirstRealFixture').invalid && form.get('playoutFirstRealFixture').dirty }"
          />
          <fbm-error-message [form-control]="form.get('playoutFirstRealFixture')" name="Prima giornata reale"></fbm-error-message>
        </div>
      </div>

      <div class="col-8 col-sm-6">
        <div class="mb-3" [ngClass]="{ 'is-invalid': form.get('cupFormat').invalid && form.get('cupFormat').dirty }">
          <label for="cupFormat" class="control-label">Coppa di lega *</label>
          <ng-select
            id="cupFormat"
            name="cupFormat"
            [items]="cupFormatList"
            bindLabel="value.label"
            formControlName="cupFormat"
            clearAllText="Elimina"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('cupFormat')" name="Coppa di lega"></fbm-error-message>
        </div>
      </div>

      <div class="col-4 col-sm-6">
        <div class="mb-3">
          <label for="cupFirstRealFixture" class="control-label">Prima giornata reale *</label>
          <input
            type="number"
            min="1"
            max="34"
            class="form-control"
            id="cupFirstRealFixture"
            name="cupFirstRealFixture"
            formControlName="cupFirstRealFixture"
            [ngClass]="{ 'is-invalid': form.get('cupFirstRealFixture').invalid && form.get('cupFirstRealFixture').dirty }"
          />
          <fbm-error-message [form-control]="form.get('cupFirstRealFixture')" name="Prima giornata reale"></fbm-error-message>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 pb-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      <fa-icon icon="caret-right" class="icon-padding"></fa-icon>Avanti
    </button>
  </div>
</form>
