<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  <div class="row px-3">
    <div class="col-sm-6">
      <div class="mb-3">
        <label for="name" class="control-label">Nome</label>
        <input type="text" class="form-control" id="name" name="name" formControlName="name" />
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="email" class="control-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
          [ngClass]="{ 'is-invalid': form.get('email').invalid && form.get('email').dirty }"
        />
        <fbm-error-message [form-control]="form.get('email')" name="Email"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="password" class="control-label">Password</label>
        <input
          type="text"
          class="form-control"
          id="password"
          name="password"
          formControlName="password"
          [ngClass]="{ 'is-invalid': form.get('password').invalid && form.get('password').dirty }"
        />
        <fbm-error-message [form-control]="form.get('password')" name="Password"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3" [ngClass]="{ 'is-invalid': form.get('role').invalid && form.get('role').dirty }">
        <label for="role" class="control-label">Ruolo</label>
        <ng-select id="role" name="role" [items]="roleList$ | async" formControlName="role" clearAllText="Elimina"> </ng-select>
      </div>
      <fbm-error-message [form-control]="form.get('role')" name="Ruolo"></fbm-error-message>
    </div>
  </div>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 mx-3 pb-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      <fa-icon icon="save" class="icon-padding"></fa-icon>Salva
    </button>
    <button type="button" class="btn btn-primary" (click)="cancel.emit()">
      <fa-icon icon="undo" class="icon-padding"></fa-icon>Annulla
    </button>
  </div>
</form>
