<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/home">
    <fa-icon icon="basketball-ball" size="2x"></fa-icon>
  </a>
  <button class="navbar-toggler" type="button" aria-expanded="false" aria-controls="collapseExample"
    (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown>
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
          <fa-icon icon="exchange-alt" class="menu-padding"></fa-icon>Squadre
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/teams/transactions" routerLinkActive="active"
            (click)="isCollapsed = true;">Mercato libero</a>
          <a class="dropdown-item" routerLink="/teams/trades" routerLinkActive="active"
            (click)="isCollapsed = true;">Scambi</a>
        </ul>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
          <fa-icon icon="user-cog" class="menu-padding"></fa-icon>Admin
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/new-season" routerLinkActive="active"
            (click)="isCollapsed = true;">Nuova Stagione</a>
          <!-- <a class="dropdown-item" routerLink="/admin/players" routerLinkActive="active"
            (click)="isCollapsed = true;">Giocatori</a>
          <a class="dropdown-item" routerLink="/admin/teams" routerLinkActive="active"
            (click)="isCollapsed = true;">Squadre</a>
          <a class="dropdown-item" routerLink="/admin/fantasy-teams" routerLinkActive="active"
            (click)="isCollapsed = true;">Fantasquadre</a>
          <a class="dropdown-item" routerLink="/admin/rounds" routerLinkActive="active"
            (click)="isCollapsed = true;">Gestione turni</a> -->
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="isLoggedIn()">
      <li class="nav-item">
        <a class="nav-link manina" (click)="logout.emit()">
          <fa-icon icon="sign-out-alt" class="menu-padding"></fa-icon>Logout
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link manina" (click)="profile.emit()">
          <fa-icon icon="user-circle" class="menu-padding"></fa-icon>Profilo Utente
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" *ngFor="let b of breadcrumbs; let i = index">
      <span *ngIf="i != breadcrumbs.length - 1; else elseLink">
        <a [routerLink]="[b.url, b.params]" routerLinkActive="selezionato"
          [routerLinkActiveOptions]="{ exact: true }">{{b.label}}</a>
      </span>
      <ng-template #elseLink>
        <span>{{b.label}}</span>
      </ng-template>
    </li>
  </ol>
</nav>
