<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" routerLink="/home">
    <fa-icon icon="basketball-ball" size="2x"></fa-icon>
  </a>
  <button class="navbar-toggler" type="button" aria-expanded="false" aria-controls="collapseExample" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">

      <!-- SQUADRE -->
      <li class="nav-item dropdown" dropdown>
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
          <fa-icon icon="shield-alt" class="icon-padding"></fa-icon>Squadre
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/teams/transactions" routerLinkActive="active" (click)="isCollapsed = true;">{{transactionLabel}}</a>
          <a class="dropdown-item" routerLink="/teams/trades" routerLinkActive="active" (click)="isCollapsed = true;">Scambi</a>
        </ul>
      </li>

      <!-- COMPETIZIONI -->
      <li class="nav-item dropdown" dropdown>
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
          <fa-icon icon="calendar-alt" class="icon-padding"></fa-icon>Competizioni
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" (click)="isCollapsed = true;">Calendario</a>
          <a class="dropdown-item" (click)="isCollapsed = true;">Classifica</a>
          <a class="dropdown-item" (click)="isCollapsed = true;">Formazioni</a>
          <a class="dropdown-item" (click)="isCollapsed = true;">Valutazioni e pagelle</a>
          <a class="dropdown-item" (click)="isCollapsed = true;">Risultati</a>
        </ul>
      </li>

      <!-- GESTIONE LEGA -->
      <li class="nav-item dropdown" dropdown *ngIf="isAdmin()">
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
          <fa-icon icon="cogs" class="icon-padding"></fa-icon>Gestione lega
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/league-management/fantasy-teams" routerLinkActive="active" (click)="isCollapsed = true;">Fantasquadre</a>
          <a class="dropdown-item" routerLink="/admin/league-management/rounds" routerLinkActive="active" (click)="isCollapsed = true;">Gestione turni</a>
          <!-- <a class="dropdown-item" (click)="isCollapsed = true;">Gestione giornate</a> -->
        </ul>
      </li>

      <!-- PRESEASON -->
      <li class="nav-item dropdown" dropdown *ngIf="isAdmin() && isPreseason()">
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
          <fa-icon icon="tools" class="icon-padding"></fa-icon>Preseason
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/preseason/edit-league" routerLinkActive="active" (click)="isCollapsed = true;">Impostazioni</a>
          <a class="dropdown-item" routerLink="/admin/preseason/parameters" routerLinkActive="active" (click)="isCollapsed = true;">Parametri</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/admin/preseason/teams" routerLinkActive="active" (click)="isCollapsed = true;">Squadre</a>
          <a class="dropdown-item" routerLink="/admin/preseason/roles" (click)="isCollapsed = true;">Ruoli</a>
          <a class="dropdown-item" routerLink="/admin/preseason/players" routerLinkActive="active" (click)="isCollapsed = true;">Giocatori</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item manina" (click)="isCollapsed = true;completePreseason.emit()">Completa preseason</a>
        </ul>
      </li>

      <!-- ADMIN -->
      <li class="nav-item dropdown" dropdown *ngIf="isAdmin()">
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
          <fa-icon icon="user-cog" class="icon-padding"></fa-icon>Admin
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/new-season" routerLinkActive="active" (click)="isCollapsed = true;">Nuova Stagione</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/admin/users" routerLinkActive="active" (click)="isCollapsed = true;">Gestione utenti</a>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="isLoggedIn()">
      <li class="nav-item">
        <a class="nav-link manina nowrap" (click)="logout.emit()">
          <fa-icon icon="sign-out-alt" class="icon-padding"></fa-icon>Logout
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link manina nowrap" (click)="profile.emit()">
          <app-user-role-icon [role]="user.role"></app-user-role-icon>{{user.name}}
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" *ngFor="let b of breadcrumbs; let i = index">
      <span *ngIf="i != breadcrumbs.length - 1; else elseLink">
        <a [routerLink]="[b.url, b.params]" routerLinkActive="selezionato" [routerLinkActiveOptions]="{ exact: true }">{{b.label}}</a>
      </span>
      <ng-template #elseLink>
        <span>{{b.label}}</span>
      </ng-template>
    </li>
  </ol>
</nav>
