<form [formGroup]="form" (ngSubmit)="save()" class="needs-validation" novalidate>

    <div fxLayout="row wrap" fxLayoutAlign="space-between">
  
      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="name" class="control-label">Nome *</label>
          <input type="text" class="form-control" id="name" name="name" formControlName="name" [ngClass]="{'is-invalid': form.controls.name.invalid && form.controls.name.dirty}">
          <div *ngIf="form.get('name').hasError('required') && form.get('name').dirty" class="invalid-feedback">Il campo Nome è obbligatorio</div>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="nationality" class="control-label">Nazionalità *</label>
          <input type="text" class="form-control" id="nationality" name="nationality" formControlName="nationality" [ngClass]="{'is-invalid': form.controls.nationality.invalid && form.controls.nationality.dirty}">
          <div *ngIf="form.get('nationality').hasError('required') && form.get('nationality').dirty" class="invalid-feedback">Il campo Nazionalità è obbligatorio</div>
        </div>
      </div>
  
      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="number" class="control-label">Numero</label>
          <input type="text" class="form-control" id="number" name="number" formControlName="number" maxlength="2">
        </div>
      </div>
  
      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="yearBirth" class="control-label">Anno di nascita</label>
          <input type="number" class="form-control" id="yearBirth" name="yearBirth" formControlName="yearBirth" min="1900" max="2999">
        </div>
      </div>
  
      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="height" class="control-label">Altezza</label>
          <input type="number" class="form-control" id="height" name="height" formControlName="height" min="150" max="2999">
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="weight" class="control-label">Peso</label>
          <input type="number" class="form-control" id="weight" name="weight" formControlName="weight" min="50" max="199">
        </div>
      </div>
  
      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="role" class="control-label">Ruolo</label>
          <ng-select id="role" name="role" [items]="roles" bindLabel="roles[role]" formControlName="role" clearAllText="Elimina"
            [ngClass]="{'ng-select-error': form.controls.role.invalid && form.controls.role.dirty}">
          </ng-select>
        </div>
      </div>
  
    </div>
  
    <div class="text-center">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salva</button>&nbsp;
      <button type="button" class="btn btn-primary" (click)="annulla.emit()">Annulla</button>
    </div>
  
  </form>
  