<form [formGroup]="form" (ngSubmit)="save()" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend class="legend"><fa-icon icon="map-marked" class="icon-padding"></fa-icon>Ruoli</legend>
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="Playmaker" class="control-label">Playmaker</label>
          <ng-select
            id="Playmaker"
            name="Playmaker"
            [items]="spots"
            formControlName="Playmaker"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('Playmaker')" name="Playmaker"></fbm-error-message>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mb-3">
          <label for="Play/Guardia" class="control-label">Play/Guardia</label>
          <ng-select
            id="Play/Guardia"
            name="Play/Guardia"
            [items]="spots"
            formControlName="Play/Guardia"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('Play/Guardia')" name="Play/Guardia"></fbm-error-message>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mb-3">
          <label for="Guardia" class="control-label">Guardia</label>
          <ng-select
            id="Guardia"
            name="Guardia"
            [items]="spots"
            formControlName="Guardia"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('Guardia')" name="Guardia"></fbm-error-message>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mb-3">
          <label for="Guardia/Ala" class="control-label">Guardia/Ala</label>
          <ng-select
            id="Guardia/Ala"
            name="Guardia/Ala"
            [items]="spots"
            formControlName="Guardia/Ala"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('Guardia/Ala')" name="Guardia/Ala"></fbm-error-message>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mb-3">
          <label for="Ala" class="control-label">Ala</label>
          <ng-select
            id="Ala"
            name="Ala"
            [items]="spots"
            formControlName="Ala"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('Ala')" name="Ala"></fbm-error-message>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mb-3">
          <label for="Ala/Centro" class="control-label">Ala/Centro</label>
          <ng-select
            id="Ala/Centro"
            name="Ala/Centro"
            [items]="spots"
            formControlName="Ala/Centro"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('Ala/Centro')" name="Ala/Centro"></fbm-error-message>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mb-3">
          <label for="Centro" class="control-label">Centro</label>
          <ng-select
            id="Centro"
            name="Centro"
            [items]="spots"
            formControlName="Centro"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('Centro')" name="Centro"></fbm-error-message>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 pb-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      <fa-icon icon="save" class="icon-padding"></fa-icon>Salva
    </button>
  </div>
</form>
