<form [formGroup]="form" (ngSubmit)="salva()" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend class="legend"><fa-icon icon="map-marked" class="icon-padding"></fa-icon>Ruoli</legend>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="Playmaker" class="control-label">Playmaker</label>
          <ng-select
            id="Playmaker"
            name="Playmaker"
            [items]="spots"
            formControlName="Playmaker"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <app-error-message [form-control]="form.get('Playmaker')" name="Playmaker"></app-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="Play/Guardia" class="control-label">Play/Guardia</label>
          <ng-select
            id="Play/Guardia"
            name="Play/Guardia"
            [items]="spots"
            formControlName="Play/Guardia"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <app-error-message [form-control]="form.get('Play/Guardia')" name="Play/Guardia"></app-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="Guardia" class="control-label">Guardia</label>
          <ng-select
            id="Guardia"
            name="Guardia"
            [items]="spots"
            formControlName="Guardia"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <app-error-message [form-control]="form.get('Guardia')" name="Guardia"></app-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="Guardia/Ala" class="control-label">Guardia/Ala</label>
          <ng-select
            id="Guardia/Ala"
            name="Guardia/Ala"
            [items]="spots"
            formControlName="Guardia/Ala"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <app-error-message [form-control]="form.get('Guardia/Ala')" name="Guardia/Ala"></app-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="Ala" class="control-label">Ala</label>
          <ng-select
            id="Ala"
            name="Ala"
            [items]="spots"
            formControlName="Ala"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <app-error-message [form-control]="form.get('Ala')" name="Ala"></app-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="Ala/Centro" class="control-label">Ala/Centro</label>
          <ng-select
            id="Ala/Centro"
            name="Ala/Centro"
            [items]="spots"
            formControlName="Ala/Centro"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <app-error-message [form-control]="form.get('Ala/Centro')" name="Ala/Centro"></app-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="Centro" class="control-label">Centro</label>
          <ng-select
            id="Centro"
            name="Centro"
            [items]="spots"
            formControlName="Centro"
            clearAllText="Elimina"
            [multiple]="true"
            [closeOnSelect]="false"
            [hideSelected]="true"
          >
          </ng-select>
          <app-error-message [form-control]="form.get('Centro')" name="Centro"></app-error-message>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salva</button>
  </div>
</form>
