<form [formGroup]="form" (ngSubmit)="confirm()" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend class="legend"><fa-icon icon="info-circle" class="icon-padding"></fa-icon>Nuova stagione</legend>

    <div>
      <button type="button" class="btn btn-success" (click)="addItem()" tooltip="Aggiungi squadra" placement="top">
        <fa-icon icon="plus-circle"></fa-icon>
      </button>
      <label class="p-3">{{ teams }}</label>
      <button type="button" class="btn btn-success" (click)="removeItem()" tooltip="Rimuovi squadra" placement="top">
        <fa-icon icon="minus-circle"></fa-icon>
      </button>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <ng-container formArrayName="teamsArray" *ngFor="let arrayItem of arrayItems; let i = index">
        <div fxFlex="49" fxFlex.xs="100" [formGroupName]="i">
          <div class="mb-3">
            <label for="{{ arrayItem.id }}" class="control-label">{{ arrayItem.title }}</label>
            <input type="text" class="form-control" id="{{ arrayItem.id }}" name="{{ arrayItem.id }}" formControlName="name" />
          </div>
        </div>

        <div fxFlex="49" fxFlex.xs="100" [formGroupName]="i">
          <div class="mb-3">
            <label for="proprietario-{{ arrayItem.id }}" class="control-label">Proprietario</label>
            <ng-select
              id="proprietario-{{ arrayItem.id }}"
              [items]="users"
              [multiple]="true"
              [trackByFn]="trackUserByFn"
              typeToSearchText="Inserisci almeno due caratteri"
              bindLabel="email"
              formControlName="owners"
              clearAllText="Elimina"
            >
            </ng-select>
          </div>
        </div>
      </ng-container>
    </div>
  </fieldset>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 pb-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      <fa-icon icon="save" class="icon-padding"></fa-icon>Salva
    </button>
  </div>
</form>
