<nav class="navbar navbar-expand-lg bg-primary navbar-dark fixed-top" aria-label="navbar">
  <a class="navbar-brand" routerLink="/home">
    <img src="/assets/icons/icon-96x96.png" alt="logo" width="35px">
  </a>
  <button class="navbar-toggler" type="button" aria-expanded="false" aria-controls="collapseExample" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [collapse]="isCollapsed" *ngIf="!isEmpty(user)">
    <ul class="navbar-nav me-auto">
      <!-- SQUADRE -->
      <li class="nav-item dropdown" dropdown *ngIf="!isEmpty(selectedLeague)">
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="(false)">
          <fa-icon icon="shield-alt" [fixedWidth]="true" class="icon-padding"></fa-icon>Squadre
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/teams/transactions" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="shopping-cart" [fixedWidth]="true" class="icon-padding"></fa-icon>{{ transactionLabel }}
          </a>
          <a class="dropdown-item" routerLink="/teams/trades" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="exchange-alt" [fixedWidth]="true" class="icon-padding"></fa-icon>Scambi
          </a>
          <a class="dropdown-item" routerLink="/teams/fantasy-rosters" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="list" [fixedWidth]="true" class="icon-padding"></fa-icon>Fantasquadre
          </a>
        </ul>
      </li>

      <!-- COMPETIZIONI -->
      <li class="nav-item dropdown" dropdown *ngIf="!isEmpty(selectedLeague) && !leagueInfo?.preSeason">
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="(false)">
          <fa-icon icon="calendar-alt" [fixedWidth]="true" class="icon-padding"></fa-icon>Competizioni
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/competitions/calendar" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="list-ul" [fixedWidth]="true" class="icon-padding"></fa-icon>Calendario
          </a>
          <a class="dropdown-item" routerLink="/competitions/standings" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="list-ol" [fixedWidth]="true" class="icon-padding"></fa-icon>Classifiche
          </a>
          <a class="dropdown-item" routerLink="/competitions/lineups" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="address-card" [fixedWidth]="true" class="icon-padding"></fa-icon>Formazioni
          </a>
          <a class="dropdown-item" routerLink="/competitions/performances" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="pencil-alt" [fixedWidth]="true" class="icon-padding"></fa-icon>Valutazioni e pagelle
          </a>
          <a class="dropdown-item" routerLink="/competitions/results" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="poll-h" [fixedWidth]="true" class="icon-padding"></fa-icon>Risultati
          </a>
        </ul>
      </li>

      <!-- STATISTICHE -->
      <li class="nav-item dropdown" dropdown *ngIf="!isEmpty(selectedLeague) && !leagueInfo?.preSeason">
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="(false)">
          <fa-icon icon="chart-line" [fixedWidth]="true" class="icon-padding"></fa-icon>Statistiche
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/statistics/top-flop" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="chart-bar" [fixedWidth]="true" class="icon-padding"></fa-icon>Top Flop
          </a>
        </ul>
      </li>

      <!-- GESTIONE LEGA -->
      <li class="nav-item dropdown" dropdown *ngIf="isAdmin && !isEmpty(selectedLeague)">
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="(false)">
          <fa-icon icon="cogs" [fixedWidth]="true" class="icon-padding"></fa-icon>Gestione lega
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a
            class="dropdown-item"
            routerLink="/admin/league-management/teams"
            routerLinkActive="active"
            (click)="isCollapsed = true"
            *ngIf="!leagueInfo?.preSeason"
          >
            <fa-icon icon="shield-alt" [fixedWidth]="true" class="icon-padding"></fa-icon>Squadre
          </a>
          <a
            class="dropdown-item"
            routerLink="/admin/league-management/players"
            routerLinkActive="active"
            (click)="isCollapsed = true"
            *ngIf="!leagueInfo?.preSeason"
          >
            <fa-icon icon="id-badge" [fixedWidth]="true" class="icon-padding"></fa-icon>Giocatori
          </a>
          <a
            class="dropdown-item"
            routerLink="/admin/league-management/fantasy-teams"
            routerLinkActive="active"
            (click)="isCollapsed = true"
          >
            <fa-icon icon="user-shield" [fixedWidth]="true" class="icon-padding"></fa-icon>Fantasquadre
          </a>
          <a class="dropdown-item" routerLink="/admin/league-management/rounds" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="clipboard-list" [fixedWidth]="true" class="icon-padding"></fa-icon>Gestione turni
          </a>
          <a
            class="dropdown-item"
            routerLink="/admin/league-management/real-fixtures"
            routerLinkActive="active"
            (click)="isCollapsed = true"
          >
            <fa-icon icon="list" [fixedWidth]="true" class="icon-padding"></fa-icon>Gestione giornate
          </a>
          <!-- <a class="dropdown-item" (click)="isCollapsed = true;">Gestione giornate</a> -->
        </ul>
      </li>

      <!-- PRESEASON -->
      <li class="nav-item dropdown" dropdown *ngIf="isAdmin && !isEmpty(selectedLeague) && leagueInfo?.preSeason">
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="(false)">
          <fa-icon icon="tools" [fixedWidth]="true" class="icon-padding"></fa-icon>Preseason
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/preseason/edit-league" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="tools" [fixedWidth]="true" class="icon-padding"></fa-icon>Impostazioni lega
          </a>
          <a class="dropdown-item" routerLink="/admin/preseason/parameters" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="screwdriver" [fixedWidth]="true" class="icon-padding"></fa-icon>Parametri
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/admin/preseason/teams" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="shield-alt" [fixedWidth]="true" class="icon-padding"></fa-icon>Squadre
          </a>
          <a class="dropdown-item" routerLink="/admin/preseason/roles" (click)="isCollapsed = true">
            <fa-icon icon="map-marked" [fixedWidth]="true" class="icon-padding"></fa-icon>Ruoli
          </a>
          <a class="dropdown-item" routerLink="/admin/preseason/players" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="id-badge" [fixedWidth]="true" class="icon-padding"></fa-icon>Giocatori
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item manina" (click)="isCollapsed = true; completePreseason.emit()">
            <fa-icon icon="exclamation-triangle" [fixedWidth]="true" class="icon-padding"></fa-icon>Completa preseason
          </a>
        </ul>
      </li>

      <!-- ADMIN -->
      <li class="nav-item dropdown" dropdown *ngIf="isAdmin">
        <a href class="nav-link dropdown-toggle" dropdownToggle (click)="(false)">
          <fa-icon icon="user-cog" class="icon-padding"></fa-icon>Admin
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="/admin/new-season" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="info-circle" [fixedWidth]="true" class="icon-padding"></fa-icon>Nuova stagione
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/admin/users" routerLinkActive="active" (click)="isCollapsed = true">
            <fa-icon icon="users" [fixedWidth]="true" class="icon-padding"></fa-icon>Gestione utenti
          </a>
        </ul>
      </li>
    </ul>

    <ul class="navbar-nav" *ngIf="isLoggedIn$ | async">
      <li class="nav-item">
        <a class="nav-link manina text-nowrap" (click)="logout.emit()"> <fa-icon icon="sign-out-alt" class="icon-padding"></fa-icon>Logout </a>
      </li>
      <li class="nav-item">
        <a class="nav-link manina text-nowrap" (click)="profile.emit()">
          <app-user-role-icon [role]="user.role"></app-user-role-icon>{{ user.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav aria-label="breadcrumb" class="d-none d-sm-block fixed-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" *ngIf="leagueInfo">{{ leagueInfo.info }}</li>
  </ol>
</nav>
