@import '~bootswatch/dist/darkly/variables';

.fieldset {
  background: $gray-700;
  margin: 1rem;
  border-radius: 0.5rem;
  padding-top: 0.35em;
  padding-right: 0.625em;
  padding-bottom: 0;
  padding-left: 0.625em;
  border: 1px solid $gray-900;
}

.legend {
  color: $gray-400;
  border: 1px solid $gray-700;
  border-radius: 0.5rem;
  background-color: $gray-900;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: inherit;
  margin-bottom: auto;
  font-size: 15px;
}

.padding {
  padding: 1rem;
}

.icon-padding {
  padding-right: 4px;
}

.manina {
  cursor: pointer;
}

// flottante
@mixin float-mixin() {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: $success;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px $gray-700;
  z-index: 1;
}

.float {
  @include float-mixin();
}

.float-2 {
  @include float-mixin();
  background-color: $primary;
  right: 120px;
}

.my-float {
  margin-top: 22px;
  font-size: x-large;
  line-height: 2.5em;
}

.nowrap {
  white-space: nowrap;
}
