@import 'project-colors';

.fieldset {
  background: $color_grigio_chiaro;
  margin: 1rem;
  border-radius: 0.5rem;
  padding-top: 0.35em;
  padding-right: 0.625em;
  padding-bottom: 0;
  padding-left: 0.625em;
  border: 1px solid #CECECE;
}

.legend {
  border: 1px solid #CECECE;
  border-radius: 0.5rem;
  background-color: white;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: inherit;
  margin-bottom: auto;
  font-size: 15px;
}

.padding {
  padding: 1rem;
}

.icon-padding {
  padding-right: 4px;
}

.block {
  width: 100%;
}

.manina {
  cursor: pointer;
}

// flottante
@mixin float-mixin() {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #28A745;
  color: #FFFFFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999999;
  z-index: 1;
}

.float {
  @include float-mixin();
}

.float-2 {
  @include float-mixin();
  background-color: #17a2b8;
  right: 120px;
}

.my-float {
  margin-top: 22px;
  font-size: x-large;
  line-height: 2.5em;
}

.nowrap {
  white-space: nowrap;
}
