<form [formGroup]="form" (ngSubmit)="salva()" class="needs-validation" novalidate>

  <fieldset class="fieldset">
    <legend class="legend">
      <fa-icon icon="address-card" class="icon-padding"></fa-icon>Formazioni
    </legend>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">

      <div fxFlex="33" fxFlex.xs="100">
        <div class="form-group">
          <label for="round" class="control-label">Round</label>
          <ng-select id="round" name="round" [items]="rounds" bindLabel="name" formControlName="round" clearAllText="Elimina" (change)="onChangeRound($event)">
          </ng-select>
        </div>
      </div>

      <div fxFlex="33" fxFlex.xs="100">
        <div class="form-group">
          <label for="fixture" class="control-label">Giornata</label>
          <ng-select id="fixture" name="fixture" [items]="fixtures" bindLabel="name" formControlName="fixture" clearAllText="Elimina" (change)="onChangeFixture($event)">
          </ng-select>
        </div>
      </div>

      <div fxFlex="33" fxFlex.xs="100">
        <div class="form-group">
          <label for="fantasyTeam" class="control-label">Fantasquadra</label>
          <ng-select id="fantasyTeam" name="fantasyTeam" [items]="fantasyTeams" bindLabel="name" formControlName="fantasyTeam" clearAllText="Elimina" (change)="onChangeFantasyTeam($event)">
          </ng-select>
        </div>
      </div>

      <ng-container *ngIf="fantasyRostersPresent && allFieldsSelected">
        <div fxFlex="100">
          <hr>
        </div>

        <!-- PLAYERS-->
        <div fxFlex="49" fxFlex.lt-md="100">
          <label>Roster</label>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>Nome</th>
                  <th>Naz.</th>
                  <th>Ruolo</th>
                  <th fxHide.md fxHide.xs>Squadra</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let fantasyRoster of fantasyRosters" class="table-secondary lineup-height" [ngClass]="{'greyed-out': playerChoosen(fantasyRoster), 'manina': !disableUpdate}"
                  (click)="addPlayer(fantasyRoster)">
                  <td>{{fantasyRoster.roster.player.name}}</td>
                  <td>{{fantasyRoster.roster.player.nationality}}</td>
                  <td>{{fantasyRoster.roster.player.role | roleShort}}</td>
                  <td fxHide.md fxHide.xs>{{fantasyRoster.roster.team.fullName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- LINEUP-->
        <div fxFlex="49" fxFlex.lt-md="100">
          <label>Formazione</label>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>Spot</th>
                  <th>Nome</th>
                  <th>Naz.</th>
                  <th>Ruolo</th>
                  <th>Ordine panchina</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let player of lineup; let i=index" class="table-secondary lineup-height" [ngClass]="{'manina': !disableUpdate}" (click)="removePlayer(i)">
                  <td>{{player?.spot}}</td>
                  <td nowrap>{{player?.fantasyRoster.roster.player.name}}</td>
                  <td>{{player?.fantasyRoster.roster.player.nationality}}</td>
                  <td>{{player?.fantasyRoster.roster.player.role | roleShort}}</td>
                  <td>{{player?.benchOrder}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="padding text-center">
            <app-error-message [form-control]="form.get('lineup')" name="Formazione"></app-error-message>
          </div>
          <div class="padding text-center">
            <button type="button" class="btn btn-primary" [disabled]="form.invalid || disableUpdate" (click)="openModalBenchOrder()">Ordine panchina</button>&nbsp;
          </div>
        </div>

      </ng-container>

      <ng-container *ngIf="!fantasyRostersPresent && allFieldsSelected">
        <h4>Roster assente per il round e la giornata selezionati</h4>
      </ng-container>

    </div>
  </fieldset>

  <div class="text-center padding">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid || disableUpdate">Salva</button>&nbsp;
    <button type="button" class="btn btn-primary" [disabled]="disableUpdate" (click)="ripristina()">Ripristina</button>&nbsp;
    <button type="button" class="btn btn-primary" [disabled]="disableUpdate" (click)="svuota()">Svuota</button>&nbsp;
    <button type="button" class="btn btn-primary" [disabled]="disableUpdate" (click)="importa()">Importa</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="inviaEmail()">Invia mail</button>&nbsp;
  </div>

</form>

<!-- popup modifica panchina -->
<div *ngIf="mostraPopupPanchina" class="modal fade" bsModal #modal="bs-modal" [config]="{backdrop: 'static', keyboard: false, show: true}" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header titolo">
        <h4 class="modal-title">Ordine panchinari</h4>
      </div>

      <div class="modal-body">
        <form [formGroup]="benchForm" (ngSubmit)="salvaPanchina()" class="needs-validation" novalidate>
          <ng-template #sortedListTemplate let-item="item" let-index="index"><span>{{index + 1}}: {{item.value.fantasyRoster.roster.player.name}}</span></ng-template>

          <div class="form-group">
            <bs-sortable formControlName="sortedList" items="benchPlayers" [itemTemplate]="sortedListTemplate" itemClass="sortable-item" itemActiveClass="sortable-item-active"
              placeholderClass="placeholderStyle" wrapperClass="sortable-wrapper"></bs-sortable>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Conferma</button>&nbsp;
            <button type="button" class="btn btn-primary" (click)="annulla()">Annulla</button>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>