<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
  <div class="row px-3">
    <div class="col-sm-6">
      <div class="mb-3">
        <label for="name" class="control-label">Nome *</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          formControlName="name"
          [ngClass]="{ 'is-invalid': form.get('name').invalid && form.get('name').dirty }"
        />
        <fbm-error-message [form-control]="form.get('name')" name="Nome"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="nationality" class="control-label">Nazionalità *</label>
        <input
          type="text"
          class="form-control"
          id="nationality"
          name="nationality"
          formControlName="nationality"
          [ngClass]="{ 'is-invalid': form.get('nationality').invalid && form.get('nationality').dirty }"
        />
        <fbm-error-message [form-control]="form.get('nationality')" name="Nazionalità"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="number" class="control-label">Numero</label>
        <input
          type="text"
          class="form-control"
          id="number"
          name="number"
          formControlName="number"
          maxlength="2"
          [ngClass]="{ 'is-invalid': form.get('number').invalid && form.get('number').dirty }"
        />
        <fbm-error-message [form-control]="form.get('number')" name="Numero"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="yearBirth" class="control-label">Anno di nascita</label>
        <input
          type="number"
          class="form-control"
          id="yearBirth"
          name="yearBirth"
          formControlName="yearBirth"
          min="1900"
          max="2999"
          [ngClass]="{ 'is-invalid': form.get('yearBirth').invalid && form.get('yearBirth').dirty }"
        />
        <fbm-error-message [form-control]="form.get('yearBirth')" name="Anno di nascita"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="height" class="control-label">Altezza</label>
        <input
          type="number"
          class="form-control"
          id="height"
          name="height"
          formControlName="height"
          min="150"
          max="2999"
          [ngClass]="{ 'is-invalid': form.get('height').invalid && form.get('height').dirty }"
        />
        <fbm-error-message [form-control]="form.get('height')" name="Altezza"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="weight" class="control-label">Peso</label>
        <input
          type="number"
          class="form-control"
          id="weight"
          name="weight"
          formControlName="weight"
          min="50"
          max="199"
          [ngClass]="{ 'is-invalid': form.get('weight').invalid && form.get('weight').dirty }"
        />
        <fbm-error-message [form-control]="form.get('weight')" name="Peso"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="role" class="control-label">Ruolo *</label>
        <ng-select
          id="role"
          name="role"
          [items]="roles"
          bindLabel="roles[role]"
          formControlName="role"
          clearAllText="Elimina"
          [ngClass]="{ 'is-invalid': form.get('role').invalid && form.get('role').dirty }"
        >
        </ng-select>
        <fbm-error-message [form-control]="form.get('role')" name="Ruolo"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="mb-3">
        <label for="team" class="control-label">Squadra *</label>
        <ng-select
          id="team"
          name="team"
          [items]="teams"
          bindLabel="fullName"
          formControlName="team"
          clearAllText="Elimina"
          [ngClass]="{ 'is-invalid': form.get('team').invalid && form.get('team').dirty }"
        >
        </ng-select>
        <fbm-error-message [form-control]="form.get('team')" name="Squadra"></fbm-error-message>
      </div>
    </div>

    <div class="col-sm-6" *ngIf="roster == null && !leagueInfo?.preSeason">
      <div class="mb-3">
        <label for="realFixture" class="control-label">Giornata *</label>
        <ng-select
          id="realFixture"
          name="realFixture"
          [items]="preparedRealFixtures"
          bindLabel="name"
          formControlName="realFixture"
          clearAllText="Elimina"
          [ngClass]="{ 'is-invalid': form.get('realFixture').invalid && form.get('realFixture').dirty }"
        >
        </ng-select>
        <fbm-error-message [form-control]="form.get('realFixture')" name="Giornata"></fbm-error-message>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 mx-3 pb-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      <fa-icon icon="save" class="icon-padding"></fa-icon>Salva
    </button>
    <button type="button" class="btn btn-primary" (click)="cancel.emit()">
      <fa-icon icon="undo" class="icon-padding"></fa-icon>Annulla
    </button>
  </div>
</form>
