<form [formGroup]="form" (ngSubmit)="salva()" class="needs-validation" novalidate>

  <fieldset class="fieldset">
    <legend class="legend">
      <fa-icon icon="tools" class="icon-padding"></fa-icon>Dati lega
    </legend>

    <div fxLayout="row wrap" fxLayoutAlign="space-between">

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="fantasyTeam" class="control-label">Fantasquadra</label>
          <ng-select id="fantasyTeam" [items]="fantasyTeams" bindLabel="name" formControlName="fantasyTeam" clearAllText="Elimina" (change)="selectFantasyTeam($event)">
          </ng-select>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="form-group">
          <label for="roster" class="control-label">Giocatore</label>
          <ng-select id="roster" [items]="rosters" bindLabel="player.name" formControlName="roster" clearAllText="Elimina" (change)="selectRoster($event)">
            <ng-template ng-option-tmp let-item="item">
              {{item.player.name}} - {{item.player.nationality}} - {{item.player.role}} - {{item.team.fullName}}
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              {{item.player.name}} - {{item.player.nationality}} - {{item.player.role}} - {{item.team.fullName}}
            </ng-template>
          </ng-select>
        </div>
      </div>

    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-around" *ngIf="fantasyTeamSelected">
      <div>
        Crediti residui: {{fantasyTeamSelected.initialBalance - fantasyTeamSelected.balancePenalty - fantasyTeamSelected.outgo}}
      </div>
      <div>
        Contratti stipulati: {{fantasyTeamSelected.totalContracts}}
      </div>
      <div>
        Giocatori nel roster: {{fantasyTeamSelected.playersInRoster}}
      </div>
      <div>
        Visti spesi: {{fantasyTeamSelected.extraPlayers}}
      </div>
    </div>

    <ng-container *ngIf="fantasyRosters && fantasyRosters.length > 0; else empty">

      <hr>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th>Nome</th>
              <th>Status</th>
              <th>Contratto</th>
              <th>Anno di contratto</th>
              <th>Ruolo</th>
              <th>Squadra</th>
              <th>Azioni</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let fr of fantasyRosters" class="table-secondary">
              <td>{{fr.roster.player.name}}</td>
              <td>{{fr.status}}</td>
              <td>{{fr.contract != null ? fr.contract : 'D'}}</td>
              <td>{{fr.yearContract}}</td>
              <td>{{fr.roster.player.role}}</td>
              <td>{{fr.roster.team.fullName}}</td>

              <td class="text-nowrap">
                <button type="button" class="btn btn-success" (click)="modifica(fr)" tooltip="Modifica" placement="top">
                  <fa-icon icon="pencil-alt"></fa-icon>
                </button>&nbsp;
                <button type="button" class="btn btn-warning" (click)="apriPopupRilascia(fr)" tooltip="Rilascia" placement="top">
                  <fa-icon icon="trash"></fa-icon>
                </button>&nbsp;
                <button type="button" class="btn btn-danger" (click)="apriPopupRimuovi(fr)" tooltip="Rimuovi" placement="top">
                  <fa-icon icon="trash"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

    <ng-template #empty>
      <div class="padding">
        <h4>Nessun giocatore presente</h4>
      </div>
    </ng-template>

  </fieldset>

  <div class="modal fade" bsModal #modal="bs-modal" [config]="{backdrop: 'static', keyboard: false, show: false}" tabindex="-1" status="dialog" aria-hidden="true">

    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header titolo">
          <h4 class="modal-title">Acquista giocatore</h4>
        </div>

        <div class="modal-body">

          <div fxLayout="row wrap" fxLayoutAlign="space-between">

            <div fxFlex="100" *ngIf="rosterSelected">
              <h6>{{rosterSelected.player.name}} - {{rosterSelected.player.nationality}} - {{rosterSelected.player.role}}</h6>
            </div>

            <div fxFlex="100" *ngIf="rosterSelected">
              <h6>{{rosterSelected.team.fullName}}</h6>
            </div>

            <div fxFlex="100">
              <div class="form-group">
                <label for="status" class="control-label">Status</label>
                <ng-select id="status" name="status" [items]="statusList" bindLabel="status" formControlName="status" clearAllText="Elimina">
                </ng-select>
                <app-error-message [form-control]="form.get('status')" name="Status"></app-error-message>
              </div>
            </div>

            <div fxFlex="100">
              <div class="form-group">
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" id="draft" name="draft" formControlName="draft" [ngClass]="{'is-invalid': form.get('draft').invalid && form.get('draft').dirty}">
                  <label class="custom-control-label" for="draft">Draft</label>
                  <app-error-message [form-control]="form.get('draft')" name="Draft"></app-error-message>
                </div>
              </div>
            </div>

            <div fxFlex="49">
              <div class="form-group">
                <label for="contract" class="control-label">Costo</label>
                <input type="number" class="form-control" id="contract" name="contract" formControlName="contract" min="0" max="200">
                <app-error-message [form-control]="form.get('contract')" name="Costo"></app-error-message>
              </div>
            </div>

            <div fxFlex="49">
              <div class="form-group">
                <label for="yearContract" class="control-label">Anno di contratto</label>
                <input type="number" class="form-control" id="yearContract" name="yearContract" formControlName="yearContract" min="1" max="3">
                <app-error-message [form-control]="form.get('yearContract')" name="Anno di contratto"></app-error-message>
              </div>
            </div>

          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Conferma</button>&nbsp;
            <button type="button" class="btn btn-primary" (click)="annulla()">Annulla</button>
          </div>

        </div>
      </div>
    </div>
  </div>

</form>

<!-- popup rilascia -->
<app-popup-conferma #popupRilascia titolo="Il giocatore selezionato verrà rilasciato. La squadra recupererà metà dei crediti, i visti spesi ed il numero di contratti firmati non diminuiranno."
  btnConferma="Rilascia" btnAnnulla="Annulla" (conferma)="rilascia()" (annulla)="popupRilascia.chiudiModale()">
</app-popup-conferma>

<!-- popup rimuovi -->
<app-popup-conferma #popupRimuovi titolo="Il giocatore selezionato verrà rimosso. La squadra recupererà tutti i crediti, i visti spesi ed il numero di contratti firmati diminuiranno di uno."
  btnConferma="Rimuovi" btnAnnulla="Annulla" (conferma)="rimuovi()" (annulla)="popupRimuovi.chiudiModale()">
</app-popup-conferma>