<form [formGroup]="form" (ngSubmit)="salva()" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend class="legend"><fa-icon icon="address-card" class="icon-padding"></fa-icon>Formazioni</legend>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <div fxFlex="33" fxFlex.xs="100">
        <div class="form-group">
          <label for="round" class="control-label">Round</label>
          <ng-select
            id="round"
            name="round"
            [items]="rounds"
            bindLabel="name"
            formControlName="round"
            clearAllText="Elimina"
            (change)="onChangeRound($event)"
          >
          </ng-select>
        </div>
      </div>

      <div fxFlex="33" fxFlex.xs="100">
        <div class="form-group">
          <label for="fixture" class="control-label">Giornata</label>
          <ng-select
            id="fixture"
            name="fixture"
            [items]="fixtures"
            bindLabel="name"
            formControlName="fixture"
            clearAllText="Elimina"
            (change)="onChangeFixture($event)"
          >
          </ng-select>
        </div>
      </div>

      <div fxFlex="33" fxFlex.xs="100">
        <div class="form-group">
          <label for="fantasyTeam" class="control-label">Fantasquadra</label>
          <ng-select
            id="fantasyTeam"
            name="fantasyTeam"
            [items]="fantasyTeams"
            bindLabel="name"
            formControlName="fantasyTeam"
            clearAllText="Elimina"
            (change)="onChangeFantasyTeam($event)"
          >
          </ng-select>
        </div>
      </div>

      <ng-container *ngIf="fantasyRostersPresent && allFieldsSelected">
        <div fxFlex="100">
          <hr />
        </div>

        <!-- PLAYERS-->
        <div fxFlex="49" fxFlex.lt-md="100">
          <label id="roster">Roster</label>
          <div class="table-responsive">
            <table class="table table-hover" aria-label="Roster">
              <thead class="thead-dark">
                <tr>
                  <th id="name">Nome</th>
                  <th id="nationality">Naz.</th>
                  <th id="role">Ruolo</th>
                  <th id="team" fxHide.md fxHide.xs>Squadra</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let fantasyRoster of fantasyRosters"
                  class="table-secondary lineup-height"
                  [ngClass]="{ chosen: playerChoosen(fantasyRoster), manina: changeAllowed }"
                  (click)="addPlayer(fantasyRoster)"
                  [popover]="statsTooltip"
                  [popoverContext]="{
                    stats: tooltip.get(fantasyRoster.roster.player._id)
                  }"
                  triggers="mouseenter:mouseleave"
                  container="body"
                >
                  <td [appPlayerStatus]="fantasyRoster">
                    {{ fantasyRoster.roster.player.name }}
                  </td>
                  <td [appPlayerStatus]="fantasyRoster">
                    {{ fantasyRoster.roster.player.nationality }}
                  </td>
                  <td [appPlayerStatus]="fantasyRoster">
                    {{ fantasyRoster.roster.player.role | roleShort }}
                  </td>
                  <td [appPlayerStatus]="fantasyRoster" fxHide.md fxHide.xs>
                    {{ fantasyRoster.roster.team.fullName }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <ng-template #statsTooltip let-stats="stats">
          <h5>Valutazione media: {{ stats.performanceAvg | number: '1.1-1' }}</h5>
          <p>Ultime performance:</p>
          <table class="w-100">
            <caption>
              Statistiche
            </caption>
            <thead>
              <tr>
                <th id="ranking" class="w-50">Val.</th>
                <th id="minutes" class="w-50">Min.</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tooltip-height" *ngFor="let performance of stats.trend">
                <td>{{ performance.ranking }}</td>
                <td>{{ performance.minutes }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>

        <!-- LINEUP-->
        <div fxFlex="49" fxFlex.lt-md="100">
          <label id="formazione">Formazione</label>
          <div class="table-responsive">
            <table class="table table-hover" aria-label="Formazione">
              <thead class="thead-dark">
                <tr>
                  <th id="spot">Spot</th>
                  <th id="name">Nome</th>
                  <th id="nationality">Naz.</th>
                  <th id="role">Ruolo</th>
                  <th id="benchOrder">Ordine panchina</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let player of lineup; let i = index"
                  class="table-secondary lineup-height"
                  [ngClass]="{ manina: changeAllowed }"
                  (click)="removePlayer(i)"
                >
                  <td [appPlayerStatus]="player ? player?.fantasyRoster : null">
                    {{ player?.spot }}
                  </td>
                  <td [appPlayerStatus]="player ? player?.fantasyRoster : null" class="text-nowrap">
                    {{ player?.fantasyRoster.roster.player.name }}
                  </td>
                  <td [appPlayerStatus]="player ? player?.fantasyRoster : null">
                    {{ player?.fantasyRoster.roster.player.nationality }}
                  </td>
                  <td [appPlayerStatus]="player ? player?.fantasyRoster : null">
                    {{ player?.fantasyRoster.roster.player.role | roleShort }}
                  </td>
                  <td [appPlayerStatus]="player ? player?.fantasyRoster : null">
                    {{ player?.benchOrder }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="padding text-center">
            <app-error-message [form-control]="form.get('lineup')" name="Formazione"></app-error-message>
          </div>
          <div class="padding text-center" *ngIf="changeAllowed">
            <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="openModalBenchOrder()">
              <fa-icon icon="sort" class="icon-padding"></fa-icon>Ordine panchina
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="!fantasyRostersPresent && allFieldsSelected">
        <h4>Roster assente per il round e la giornata selezionati</h4>
      </ng-container>
    </div>
  </fieldset>

  <div class="text-center padding">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid" *ngIf="changeAllowed">
      <fa-icon icon="save" class="icon-padding"></fa-icon>Salva
    </button>
    <button type="button" class="btn btn-primary" (click)="ripristina()" *ngIf="changeAllowed">
      <fa-icon icon="window-restore" class="icon-padding"></fa-icon>Ripristina
    </button>
    <button type="button" class="btn btn-primary" (click)="svuota()" *ngIf="changeAllowed">
      <fa-icon icon="undo" class="icon-padding"></fa-icon>Svuota
    </button>
    <!-- <button type="button" class="btn btn-primary" (click)="importa()" *ngIf="changeAllowed">
      <fa-icon icon="file-import" class="icon-padding"></fa-icon>Importa
    </button> -->
    <!-- <button type="button" class="btn btn-primary" (click)="inviaEmail()">
      <fa-icon icon="envelope" class="icon-padding"></fa-icon>Invia mail
    </button> -->
    <button type="button" class="btn btn-primary" [disabled]="disableCopyLineup" (click)="formazioneForum()">
      <fa-icon icon="copy" class="icon-padding"></fa-icon>Formazione forum
    </button>
  </div>
</form>

<!-- popup modifica panchina -->
<div
  *ngIf="mostraPopupPanchina"
  class="modal fade"
  bsModal
  #modal="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">Ordine panchinari</h4>
      </div>

      <div class="modal-body">
        <form [formGroup]="benchForm" (ngSubmit)="salvaPanchina()" class="needs-validation" novalidate>
          <ng-template #sortedListTemplate let-item="item" let-index="index"
            ><span>{{ index + 1 }}: {{ item.value.fantasyRoster.roster.player.name }}</span></ng-template
          >

          <div class="form-group">
            <bs-sortable
              formControlName="sortedList"
              items="benchPlayers"
              [itemTemplate]="sortedListTemplate"
              itemClass="sortable-item"
              itemActiveClass="sortable-item-active"
              placeholderClass="placeholderStyle"
              wrapperClass="sortable-wrapper"
            ></bs-sortable>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
              <fa-icon icon="save" class="icon-padding"></fa-icon>Conferma
            </button>
            <button type="button" class="btn btn-primary" (click)="annulla()">
              <fa-icon icon="undo" class="icon-padding"></fa-icon>Annulla
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
