<form [formGroup]="form" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend class="legend"><fa-icon icon="list-ol" class="icon-padding"></fa-icon>Classifiche</legend>

    <div class="form-group">
      <ng-select
        id="round"
        name="round"
        [items]="rounds"
        formControlName="round"
        clearAllText="Elimina"
        (change)="onChange($event)"
        placeholder="Round"
        [searchFn]="roundSearchFn"
      >
        <ng-template ng-label-tmp let-item="item"> {{ item.competition.name }} - {{ item.name }} </ng-template>
        <ng-template ng-option-tmp let-item="item" let-index="index"> {{ item.competition.name }} - {{ item.name }} </ng-template>
      </ng-select>
    </div>

    <div class="table-responsive" *ngIf="selectedRound; else empty">
      <table class="table table-hover" aria-label="Classifica">
        <thead class="thead-dark">
          <tr>
            <th id="name">Nome</th>
            <th id="points">Punti</th>
            <th id="games" tooltip="Partite">G</th>
            <th id="wins" tooltip="Vinte">V</th>
            <th id="defeats" tooltip="Perse">P</th>
            <th fxHide.lt-sm id="rankingMade">Val. fatta</th>
            <th fxHide.lt-sm id="rankingAgainst">Val. subita</th>
            <th fxHide.lt-md id="avarageRankingMade" tooltip="Media valutazione fatta">Media val. f.</th>
            <th fxHide.lt-md id="avarageRankingAgainst" tooltip="Media valutazione subita">Media val. s.</th>
            <th fxHide.lt-md id="pointsMade" tooltip="Punti fatti">P. Fatti</th>
            <th fxHide.lt-md id="pointsAgainst" tooltip="Punti subiti">P. subiti</th>
            <th fxHide.lt-md id="avaragePointsMade" tooltip="Media punti fatti">Media f.</th>
            <th fxHide.lt-md id="avaragePointsAgainst" tooltip="Media punti subiti">Media s.</th>
            <th fxHide.lt-md id="difference" tooltip="Differenza canestri">Diff.</th>
            <th fxHide.lt-lg id="trend">Trend</th>
            <th
              fxHide.lt-lg
              id="trendAvaragePointsMade"
              tooltip="Media punti fatti nelle ultime {{ trend?.value }} partite"
              placement="left"
            >
              Tr. media f.
            </th>
            <th
              fxHide.lt-lg
              id="trendAvaragePointsAgainst"
              tooltip="Media punti subiti nelle ultime {{ trend?.value }} partite"
              placement="left"
            >
              Tr. media s.
            </th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let tableItem of table" class="table-secondary">
            <td class="text-nowrap">{{ tableItem.fantasyTeam.name }}</td>
            <td>{{ tableItem.points }}</td>
            <td>{{ tableItem.games }}</td>
            <td>{{ tableItem.won }}</td>
            <td>{{ tableItem.lost }}</td>
            <td fxHide.lt-sm>{{ tableItem.rankingMade }}</td>
            <td fxHide.lt-sm>{{ tableItem.rankingAgainst }}</td>
            <td fxHide.lt-md>{{ tableItem.avarageRankingMade | number: '1.1-1' }}</td>
            <td fxHide.lt-md>{{ tableItem.avarageRankingAgainst | number: '1.1-1' }}</td>
            <td fxHide.lt-md>{{ tableItem.pointsMade }}</td>
            <td fxHide.lt-md>{{ tableItem.pointsAgainst }}</td>
            <td fxHide.lt-md>{{ tableItem.avaragePointsMade | number: '1.1-1' }}</td>
            <td fxHide.lt-md>{{ tableItem.avaragePointsAgainst | number: '1.1-1' }}</td>
            <td fxHide.lt-md>{{ tableItem.difference }}</td>
            <td fxHide.lt-lg>{{ tableItem.trend }}</td>
            <td fxHide.lt-lg>{{ tableItem.trendAvaragePointsMade | number: '1.1-1' }}</td>
            <td fxHide.lt-lg>{{ tableItem.trendAvaragePointsAgainst | number: '1.1-1' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #empty>
      <h4 class="padding">Nessun turno selezionato</h4>
    </ng-template>
  </fieldset>
</form>
