<fieldset class="fieldset">
  <legend class="legend"><fa-icon icon="user-shield" class="icon-padding"></fa-icon>Fantasquadre</legend>
  <div class="table-responsive" *ngIf="fantasyTeams && fantasyTeams.length > 0; else empty">
    <table class="table table-hover" aria-label="Fantasquadre">
      <thead class="table-dark">
        <tr>
          <th id="name">Nome</th>
          <th id="initialBalance">Bilancio</th>
          <th id="outgo">Crediti spesi</th>
          <th id="remainingCredits">Crediti residui</th>
          <th id="totalContracts"># Contratti</th>
          <th id="playersInRoster"># Giocatori</th>
          <th id="extraPlayers">Visti spesi</th>
          <th id="pointsPenalty">Punti di penalità</th>
          <th id="balancePenalty">Malus crediti</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let fantasyTeam of fantasyTeams" class="manina table-secondary" (click)="update(fantasyTeam)">
          <td>{{ fantasyTeam.name }}</td>
          <td>{{ fantasyTeam.initialBalance }}</td>
          <td>{{ fantasyTeam.outgo }}</td>
          <td>{{ fantasyTeam.initialBalance - fantasyTeam.balancePenalty - fantasyTeam.outgo }}</td>
          <td>{{ fantasyTeam.totalContracts }}</td>
          <td>{{ fantasyTeam.playersInRoster }}</td>
          <td>{{ fantasyTeam.extraPlayers }}</td>
          <td>{{ fantasyTeam.pointsPenalty }}</td>
          <td>{{ fantasyTeam.balancePenalty }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #empty>
    <h4 class="p-3">Nessuna fantasquadra presente</h4>
  </ng-template>
</fieldset>

<!-- popup update fantasyteam -->
<div
  *ngIf="showPopupUpdate"
  class="modal fade"
  bsModal
  #modal="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">Modifica fantasquadra</h4>
      </div>

      <div class="modal-body">
        <fbm-fantasy-team-form [fantasyTeam]="fantasyTeamSelected" (save)="save($event)" (cancel)="cancel()"></fbm-fantasy-team-form>
      </div>
    </div>
  </div>
</div>
