<form [formGroup]="form" (ngSubmit)="save()" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend class="legend"><fa-icon icon="screwdriver" class="icon-padding"></fa-icon>Parametri</legend>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">
      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="DRAFT" class="control-label">DRAFT</label>
          <input
            type="number"
            class="form-control"
            id="DRAFT"
            name="DRAFT"
            formControlName="DRAFT"
            [ngClass]="{ 'is-invalid': form.get('DRAFT').invalid && form.get('DRAFT').dirty }"
          />
          <fbm-error-message [form-control]="form.get('DRAFT')" name="DRAFT"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="MAX_CONTRACTS" class="control-label">MAX_CONTRACTS</label>
          <input
            type="number"
            class="form-control"
            id="MAX_CONTRACTS"
            name="MAX_CONTRACTS"
            formControlName="MAX_CONTRACTS"
            [ngClass]="{ 'is-invalid': form.get('MAX_CONTRACTS').invalid && form.get('MAX_CONTRACTS').dirty }"
          />
          <fbm-error-message [form-control]="form.get('MAX_CONTRACTS')" name="MAX_CONTRACTS"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="MAX_EXT_OPT_345" class="control-label">MAX_STR</label>
          <input
            type="number"
            class="form-control"
            id="MAX_STR"
            name="MAX_STR"
            formControlName="MAX_STR"
            [ngClass]="{ 'is-invalid': form.get('MAX_STR').invalid && form.get('MAX_STR').dirty }"
          />
          <fbm-error-message [form-control]="form.get('MAX_STR')" name="MAX_STR"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="MAX_EXT_OPT_345" class="control-label">MAX_EXT_OPT_345</label>
          <input
            type="number"
            class="form-control"
            id="MAX_EXT_OPT_345"
            name="MAX_EXT_OPT_345"
            formControlName="MAX_EXT_OPT_345"
            [ngClass]="{ 'is-invalid': form.get('MAX_EXT_OPT_345').invalid && form.get('MAX_EXT_OPT_345').dirty }"
          />
          <fbm-error-message [form-control]="form.get('MAX_EXT_OPT_345')" name="MAX_EXT_OPT_345"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="MAX_PLAYERS_IN_ROSTER" class="control-label">MAX_PLAYERS_IN_ROSTER</label>
          <input
            type="number"
            class="form-control"
            id="MAX_PLAYERS_IN_ROSTER"
            name="MAX_PLAYERS_IN_ROSTER"
            formControlName="MAX_PLAYERS_IN_ROSTER"
            [ngClass]="{ 'is-invalid': form.get('MAX_PLAYERS_IN_ROSTER').invalid && form.get('MAX_PLAYERS_IN_ROSTER').dirty }"
          />
          <fbm-error-message [form-control]="form.get('MAX_PLAYERS_IN_ROSTER')" name="MAX_PLAYERS_IN_ROSTER"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="MAX_STRANGERS_OPT_55" class="control-label">MAX_STRANGERS_OPT_55</label>
          <input
            type="number"
            class="form-control"
            id="MAX_STRANGERS_OPT_55"
            name="MAX_STRANGERS_OPT_55"
            formControlName="MAX_STRANGERS_OPT_55"
            [ngClass]="{ 'is-invalid': form.get('MAX_STRANGERS_OPT_55').invalid && form.get('MAX_STRANGERS_OPT_55').dirty }"
          />
          <fbm-error-message [form-control]="form.get('MAX_STRANGERS_OPT_55')" name="MAX_STRANGERS_OPT_55"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="MIN_NAT_PLAYERS" class="control-label">MIN_NAT_PLAYERS</label>
          <input
            type="number"
            class="form-control"
            id="MIN_NAT_PLAYERS"
            name="MIN_NAT_PLAYERS"
            formControlName="MIN_NAT_PLAYERS"
            [ngClass]="{ 'is-invalid': form.get('MIN_NAT_PLAYERS').invalid && form.get('MIN_NAT_PLAYERS').dirty }"
          />
          <fbm-error-message [form-control]="form.get('MIN_NAT_PLAYERS')" name="MIN_NAT_PLAYERS"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="RESULT_DIVISOR" class="control-label">RESULT_DIVISOR</label>
          <input
            type="number"
            class="form-control"
            id="RESULT_DIVISOR"
            name="RESULT_DIVISOR"
            formControlName="RESULT_DIVISOR"
            [ngClass]="{ 'is-invalid': form.get('RESULT_DIVISOR').invalid && form.get('RESULT_DIVISOR').dirty }"
          />
          <fbm-error-message [form-control]="form.get('RESULT_DIVISOR')" name="RESULT_DIVISOR"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="RESULT_WITH_GRADE" class="control-label">RESULT_WITH_GRADE</label>
          <input
            type="number"
            class="form-control"
            id="RESULT_WITH_GRADE"
            name="RESULT_WITH_GRADE"
            formControlName="RESULT_WITH_GRADE"
            [ngClass]="{ 'is-invalid': form.get('RESULT_WITH_GRADE').invalid && form.get('RESULT_WITH_GRADE').dirty }"
          />
          <fbm-error-message [form-control]="form.get('RESULT_WITH_GRADE')" name="RESULT_WITH_GRADE"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="RESULT_WITH_OER" class="control-label">RESULT_WITH_OER</label>
          <input
            type="number"
            class="form-control"
            id="RESULT_WITH_OER"
            name="RESULT_WITH_OER"
            formControlName="RESULT_WITH_OER"
            [ngClass]="{ 'is-invalid': form.get('RESULT_WITH_OER').invalid && form.get('RESULT_WITH_OER').dirty }"
          />
          <fbm-error-message [form-control]="form.get('RESULT_WITH_OER')" name="RESULT_WITH_OER"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="RESULT_WITH_PLUS_MINUS" class="control-label">RESULT_WITH_PLUS_MINUS</label>
          <input
            type="number"
            class="form-control"
            id="RESULT_WITH_PLUS_MINUS"
            name="RESULT_WITH_PLUS_MINUS"
            formControlName="RESULT_WITH_PLUS_MINUS"
            [ngClass]="{ 'is-invalid': form.get('RESULT_WITH_PLUS_MINUS').invalid && form.get('RESULT_WITH_PLUS_MINUS').dirty }"
          />
          <fbm-error-message [form-control]="form.get('RESULT_WITH_PLUS_MINUS')" name="RESULT_WITH_PLUS_MINUS"></fbm-error-message>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        <div class="mb-3">
          <label for="TREND" class="control-label">TREND</label>
          <input
            type="number"
            class="form-control"
            id="TREND"
            name="TREND"
            formControlName="TREND"
            [ngClass]="{ 'is-invalid': form.get('TREND').invalid && form.get('TREND').dirty }"
          />
          <fbm-error-message [form-control]="form.get('TREND')" name="TREND"></fbm-error-message>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 pb-3">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      <fa-icon icon="save" class="icon-padding"></fa-icon>Salva
    </button>
  </div>
</form>
