<form [formGroup]="form" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend class="legend">
      <fa-icon icon="list-ol" class="icon-padding"></fa-icon>Classifiche
    </legend>

    <div class="form-group">
      <ng-select id="round" name="round" [items]="rounds" bindLabel="name" formControlName="round" clearAllText="Elimina" (change)="onChange($event)" placeholder="Round">
      </ng-select>
    </div>

    <div class="table-responsive" *ngIf="selectedRound; else empty">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Nome</th>
            <th>Punti</th>
            <th tooltip="Partite">G</th>
            <th tooltip="Vinte">V</th>
            <th tooltip="Perse">P</th>
            <th>Val. fatta</th>
            <th>Val. subita</th>
            <th tooltip="Media valutazione fatta">Media val. f.</th>
            <th tooltip="Media valutazione subita">Media val. s.</th>
            <th tooltip="Punti fatti">P. Fatti</th>
            <th tooltip="Punti subiti">P. subiti</th>
            <th tooltip="Media punti fatti">Media f.</th>
            <th tooltip="Media punti subiti">Media s.</th>
            <th tooltip="Differenza canestri">Diff.</th>
            <th>Trend</th>
            <th tooltip="Media punti fatti nelle ultime {{trend.value}} partite" placement="left">Tr. media f.</th>
            <th tooltip="Media punti subiti nelle ultime {{trend.value}} partite" placement="left">Tr. media s.</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let tableItem of table" class="table-secondary">
            <td>{{tableItem.fantasyTeam.name}}</td>
            <td>{{tableItem.points}}</td>
            <td>{{tableItem.games}}</td>
            <td>{{tableItem.won}}</td>
            <td>{{tableItem.lost}}</td>
            <td>{{tableItem.rankingMade}}</td>
            <td>{{tableItem.rankingAgainst}}</td>
            <td>{{tableItem.avarageRankingMade}}</td>
            <td>{{tableItem.avarageRankingAgainst}}</td>
            <td>{{tableItem.pointsMade}}</td>
            <td>{{tableItem.pointsAgainst}}</td>
            <td>{{tableItem.avaragePointsMade}}</td>
            <td>{{tableItem.avaragePointsAgainst}}</td>
            <td>{{tableItem.difference}}</td>
            <td>{{tableItem.trend}}</td>
            <td>{{tableItem.trendAvaragePointsMade}}</td>
            <td>{{tableItem.trendAvaragePointsAgainst}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <ng-template #empty>
      <h4 class="padding">Nessun turno selezionato</h4>
    </ng-template>

  </fieldset>

</form>