<fbm-header (logout)="logout()" (profile)="profile()" (completePreseason)="openCompletePreseasonPopup()"></fbm-header>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>

<div class="loading-div" *ngIf="loading">
  <div class="loading-icon">
    <fa-icon icon="spinner" [pulse]="true" size="4x"></fa-icon>
  </div>
</div>

<!-- popup user profile -->
<div
  *ngIf="mostraPopupUserProfile"
  class="modal fade"
  bsModal
  #userProfilePage="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">Profilo utente</h4>
      </div>

      <div class="modal-body">
        <fbm-user-profile (save)="save($event)" (cancel)="cancel()"></fbm-user-profile>
      </div>
    </div>
  </div>
</div>

<!-- popup update app -->
<fbm-popup-confirm
  #popupAggiorna
  title="Aggiornamento app disponibile"
  btnConfirm="Aggiorna"
  btnCancel="Annulla"
  (confirm)="aggiornaApp()"
  (cancel)="popupAggiorna.closeModal()"
>
  Ricarica per ottenere l'ultima versione dell'app</fbm-popup-confirm
>

<!-- popup confirm complete preseason -->
<fbm-popup-confirm
  #popupConfirmPreseason
  title="Completa preseason"
  [textContent]=""
  btnConfirm="Ok"
  btnCancel="Annulla"
  (confirm)="completePreseason()"
  (cancel)="popupConfirmPreseason.closeModal()"
>
  Confermi l'avanzamento alla stagione regolare?
</fbm-popup-confirm>
