<div
  class="modal fade"
  bsModal
  #modal="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" class="needs-validation" novalidate>
          <div fxLayout="row wrap" fxLayoutAlign="space-between">
            <div fxFlex="49" fxFlex.xs="100">
              <div class="mb-3">
                <div class="input-group mb-3">
                  <input #uploadElement type="file" class="form-control manina" (change)="onFileChange($event)" />
                  <span class="input-group-text" [ngClass]="{ manina: form.get('file').valid }" (click)="uploadEvent()">
                    <fa-icon icon="upload" class="icon-padding"></fa-icon>Upload
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 pb-3">
            <button type="button" class="btn btn-primary" (click)="cancel.emit()">
              <fa-icon icon="undo" class="icon-padding"></fa-icon>Annulla
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
