<form [formGroup]="form" (ngSubmit)="salva()" class="needs-validation" novalidate>

  <fieldset class="fieldset">
    <legend class="legend">
      <fa-icon icon="list-ol" class="icon-padding"></fa-icon>Formazione
    </legend>
    <div fxLayout="row wrap" fxLayoutAlign="space-between">

      <div fxFlex="33" fxFlex.xs="100">
        <div class="form-group">
          <label for="round" class="control-label">Round</label>
          <ng-select id="round" name="round" [items]="rounds" bindLabel="name" formControlName="round" clearAllText="Elimina" (change)="onChangeRound($event)">
          </ng-select>
        </div>
      </div>

      <div fxFlex="33" fxFlex.xs="100">
        <div class="form-group">
          <label for="fixture" class="control-label">Giornata</label>
          <ng-select id="fixture" name="fixture" [items]="fixtures" bindLabel="name" formControlName="fixture" clearAllText="Elimina" (change)="onChangeFixture($event)">
          </ng-select>
        </div>
      </div>

      <div fxFlex="33" fxFlex.xs="100">
        <div class="form-group">
          <label for="fantasyTeam" class="control-label">Fantasquadra</label>
          <ng-select id="fantasyTeam" name="fantasyTeam" [items]="fantasyTeams" bindLabel="name" formControlName="fantasyTeam" clearAllText="Elimina" (change)="onChangeFantasyTeam($event)">
          </ng-select>
        </div>
      </div>

      <div fxFlex="49" fxFlex.xs="100">
        TODO
      </div>
      <div fxFlex="49" fxFlex.xs="100">
        TODO
      </div>

    </div>
  </fieldset>

  <div class="text-center">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Salva</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="ripristina()">Ripristina</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="svuota()">Svuota</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="importa()">Importa</button>&nbsp;
    <button type="button" class="btn btn-primary" (click)="inviaEmail()">Invia mail</button>&nbsp;
  </div>

</form>