<form [formGroup]="form" (ngSubmit)="save()" class="needs-validation" novalidate>
  <fieldset class="fieldset">
    <legend class="legend"><fa-icon icon="exchange-alt" class="icon-padding"></fa-icon>Scambi</legend>

    <div class="row">
      <!-- FANTASYTEAM #1-->
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="fantasyTeam" class="control-label">Fantasquadra #1</label>
          <ng-select
            id="fantasyTeam1"
            name="fantasyTeam1"
            [items]="fantasyTeams"
            bindLabel="name"
            formControlName="fantasyTeam1"
            clearAllText="Elimina"
            (change)="selectFantasyTeam1($event)"
          >
          </ng-select>
          <fbm-error-message [form-control]="form.get('fantasyTeam1')"></fbm-error-message>
        </div>

        <div class="row" *ngIf="fantasyTeam1Selected">
          <div class="col-sm-6">
            Crediti residui: {{ fantasyTeam1Selected.initialBalance - fantasyTeam1Selected.balancePenalty - fantasyTeam1Selected.outgo }}
          </div>
          <div class="col-sm-6">Contratti stipulati: {{ fantasyTeam1Selected.totalContracts }}</div>
          <div class="col-sm-6">Giocatori nel roster: {{ fantasyTeam1Selected.playersInRoster }}</div>
          <div class="col-sm-6">Visti spesi: {{ fantasyTeam1Selected.extraPlayers }}</div>
        </div>
        <hr />

        <div class="table-responsive">
          <table class="table table-hover" aria-label="Fantasquadra #1">
            <thead class="table-dark">
              <tr>
                <th id="name">Nome</th>
                <th id="status">Status</th>
                <th id="contract">Contratto</th>
                <th id="yearContract">Anno di contratto</th>
                <th class="d-none d-sm-table-cell" id="role">Ruolo</th>
                <th class="d-table-cell d-sm-none" id="role">R.</th>
                <th id="team">Squadra</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let fr of fantasyRosters1"
                class="table-secondary manina"
                (click)="switchOutPlayerToTradeBlock(fr)"
                [ngClass]="{ chosen: player1Choosen(fr) }"
              >
                <td [appPlayerStatus]="fr" class="text-nowrap">{{ fr.roster.player.name }}</td>
                <td [appPlayerStatus]="fr">{{ fr.status }}</td>
                <td [appPlayerStatus]="fr">{{ fr.contract != null ? fr.contract : 'D' }}</td>
                <td [appPlayerStatus]="fr">{{ fr.yearContract }}</td>
                <td [appPlayerStatus]="fr" class="d-none d-sm-table-cell">{{ fr.roster.player.role }}</td>
                <td [appPlayerStatus]="fr" class="d-table-cell d-sm-none">{{ fr.roster.player.role | roleShort }}</td>
                <td [appPlayerStatus]="fr" class="text-nowrap">{{ fr.roster.team.fullName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- FANTASYTEAM #2-->
      <div class="col-lg-6">
        <div class="mb-3">
          <label for="fantasyTeam" class="control-label">Fantasquadra #2</label>
          <ng-select
            id="fantasyTeam2"
            name="fantasyTeam2"
            [items]="fantasyTeams"
            bindLabel="name"
            formControlName="fantasyTeam2"
            clearAllText="Elimina"
            (change)="selectFantasyTeam2($event)"
          >
          </ng-select>
          <fbm-error-message [form-group]="form" name="Fantasquadra #2"></fbm-error-message>
        </div>

        <div class="row" *ngIf="fantasyTeam2Selected">
          <div class="col-sm-6">
            Crediti residui: {{ fantasyTeam2Selected.initialBalance - fantasyTeam2Selected.balancePenalty - fantasyTeam2Selected.outgo }}
          </div>
          <div class="col-sm-6">Contratti stipulati: {{ fantasyTeam2Selected.totalContracts }}</div>
          <div class="col-sm-6">Giocatori nel roster: {{ fantasyTeam2Selected.playersInRoster }}</div>
          <div class="col-sm-6">Visti spesi: {{ fantasyTeam2Selected.extraPlayers }}</div>
        </div>
        <hr />

        <div class="table-responsive">
          <table class="table table-hover" aria-label="Fantasquadra #2">
            <thead class="table-dark">
              <tr>
                <th id="name">Nome</th>
                <th id="status">Status</th>
                <th id="contract">Contratto</th>
                <th id="yearContract">Anno di contratto</th>
                <th class="d-none d-md-table-cell" id="role">Ruolo</th>
                <th class="d-table-cell d-md-none" id="role">R.</th>
                <th id="team">Squadra</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let fr of fantasyRosters2"
                class="table-secondary manina"
                (click)="switchInPlayerToTradeBlock(fr)"
                [ngClass]="{ chosen: player2Choosen(fr) }"
              >
                <td [appPlayerStatus]="fr" class="text-nowrap">{{ fr.roster.player.name }}</td>
                <td [appPlayerStatus]="fr">{{ fr.status }}</td>
                <td [appPlayerStatus]="fr">{{ fr.contract != null ? fr.contract : 'D' }}</td>
                <td [appPlayerStatus]="fr">{{ fr.yearContract }}</td>
                <td [appPlayerStatus]="fr" class="d-none d-md-table-cell">{{ fr.roster.player.role }}</td>
                <td [appPlayerStatus]="fr" class="d-table-cell d-md-none">{{ fr.roster.player.role | roleShort }}</td>
                <td [appPlayerStatus]="fr" class="text-nowrap">{{ fr.roster.team.fullName }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 mx-3 pb-3">
    <button type="button" class="btn btn-primary" (click)="reset()"><fa-icon icon="undo" class="icon-padding"></fa-icon>Reset</button>
    <button type="button" class="btn btn-primary" (click)="recap()" [disabled]="!enableRecap()">
      <fa-icon icon="list" class="icon-padding"></fa-icon>Riepilogo
    </button>
  </div>

  <!-- modal trade block -->
  <div
    *ngIf="showModalTradeBlock"
    class="modal fade"
    bsModal
    #modalTradeBlock="bs-modal"
    [config]="{ backdrop: 'static', keyboard: false, show: true }"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    (onHidden)="onHidden()"
  >
    <div class="modal-dialog modal-lg modal-fullscreen-md-down">
      <div class="modal-content">
        <div class="modal-header titolo">
          <h4 class="modal-title">Completa scambio</h4>
        </div>

        <div class="modal-body">
          <p>La squadra {{ fantasyTeam1Selected.name }} acquista i giocatori</p>
          <ul>
            <li *ngFor="let fr of form.value.inPlayers">{{ fr.roster.player.name }}</li>
          </ul>
          <p>e cede alla squadra {{ fantasyTeam2Selected.name }} i seguenti giocatori</p>
          <ul>
            <li *ngFor="let fr of form.value.outPlayers">{{ fr.roster.player.name }}</li>
          </ul>
          <div class="row row-cols-auto g-3 align-items-start">
            <div class="col-auto">
              <label class="col-form-label">La squadra {{ fantasyTeam1Selected.name }} inoltre riconosce un conguaglio pari a</label>
            </div>
            <div class="col-1">
              <input type="number" class="form-control" id="buyout" name="buyout" min="0" formControlName="buyout" />
            </div>
            <div class="col-auto">
              <label class="col-form-label">crediti</label>
            </div>
          </div>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 mx-3 pb-3">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
              <fa-icon icon="save" class="icon-padding"></fa-icon>Conferma
            </button>
            <button type="button" class="btn btn-primary" (click)="hideModal()">
              <fa-icon icon="undo" class="icon-padding"></fa-icon>Annulla
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
