<div
  class="modal fade"
  bsModal
  #modal="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <h4 class="titolo text-center">{{ title }}</h4>
        <div class="fs-6 text-start px-3">
          <ng-content></ng-content>
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mt-3 pb-3">
          <button class="btn btn-success" (click)="confirm.emit()">
            <fa-icon icon="save" class="icon-padding"></fa-icon>{{ btnConfirm }}
          </button>
          <button class="btn btn-danger" (click)="cancel.emit()">
            <fa-icon icon="undo" class="icon-padding"></fa-icon>{{ btnCancel }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
