<ng-container *ngFor="let dashBoardItem of dashBoardItems; let i = index">
  <hr *ngIf="i !== 0" />
  <h4>{{ dashBoardItem.round.competition.name }} - {{ dashBoardItem.round.name }}</h4>

  <div fxLayout="row wrap" fxLayoutAlign="space-between" *ngIf="dashBoardItem.round.roundRobin; else noRoundRobin">
    <div fxFlex="49" fxFlex.lt-md="100">
      <fieldset class="fieldset">
        <legend class="legend"><fa-icon icon="list-ol" class="icon-padding"></fa-icon>Classifica {{ dashBoardItem.round.name }}</legend>

        <div class="table-responsive" *ngIf="dashBoardItem.atLeastOneFixtureCompleted; else empty">
          <table class="table table-hover" aria-label="Classifica">
            <thead class="table-dark">
              <tr>
                <th id="name">Nome</th>
                <th id="points">Punti</th>
                <th fxHide.lt-sm id="rankingMade">Val. fatta</th>
                <th fxHide.lt-sm id="rankingAgainst">Val. subita</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let tableItem of dashBoardItem.table" class="table-secondary">
                <td class="text-nowrap">{{ tableItem.fantasyTeam.name }}</td>
                <td>{{ tableItem.points }}</td>
                <td fxHide.lt-sm>{{ tableItem.rankingMade }}</td>
                <td fxHide.lt-sm>{{ tableItem.rankingAgainst }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <ng-template #empty>
          <h4 class="p-3">Nessuna classifica presente</h4>
        </ng-template>
      </fieldset>
    </div>

    <div fxFlex="49" fxFlex.lt-md="100">
      <fieldset class="fieldset">
        <legend class="legend"><fa-icon icon="list-ul" class="icon-padding"></fa-icon>Risultati ultima giornata</legend>
        <div *ngIf="dashBoardItem.atLeastOneFixtureCompleted; else fixtureNotDefined">
          <div class="table-responsive">
            <table class="table table-hover" [attr.aria-label]="dashBoardItem.lastFixture.name">
              <thead class="table-dark">
                <tr>
                  <th id="game">Partita</th>
                  <th id="result">Risultato</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="let match of dashBoardItem.lastFixture.matches"
                  class="table-secondary manina"
                  (click)="openModalMatchResult(dashBoardItem.lastFixture, match)"
                >
                  <td class="text-nowrap">{{ match.homeTeam.name }} - {{ match.awayTeam.name }}</td>
                  <td class="text-nowrap">{{ match.homeScore }} - {{ match.awayScore }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <ng-template #fixtureNotDefined>
          <h4 class="p-3">Giornata non definita</h4>
        </ng-template>
      </fieldset>
    </div>
  </div>

  <ng-template #noRoundRobin>
    <fieldset class="fieldset">
      <legend class="legend"><fa-icon icon="trophy" class="icon-padding"></fa-icon>{{ dashBoardItem.round.name }}</legend>
      <accordion [isAnimated]="true">
        <accordion-group *ngFor="let fixture of dashBoardItem.round.fixtures" [isOpen]="true" class="accordion-group">
          <div accordion-heading>{{ fixture.name }}</div>
          <div *ngIf="fixture.matches && fixture.matches.length > 0; else fixtureNotDefined">
            <div class="table-responsive">
              <table class="table table-hover" [attr.aria-label]="fixture.name">
                <thead class="table-dark">
                  <tr>
                    <th id="game">Partita</th>
                    <!-- <th id="homeRanking">Valutazione casa</th>
                    <th id="awayRanking">Valutazione trasferta</th>
                    <th id="homeFactor">Fattore campo</th>
                    <th id="homeGrade">Voti casa</th>
                    <th id="awayGrade">Voti trasferta</th> -->
                    <th id="result">Risultato</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let match of fixture.matches" class="table-secondary manina" (click)="openModalMatchResult(fixture, match)">
                    <td class="text-nowrap">{{ match.homeTeam.name }} - {{ match.awayTeam.name }}</td>
                    <!-- <td>{{ match.homeRanking }}</td>
                    <td>{{ match.awayRanking }}</td>
                    <td>{{ match.homeFactor }}</td>
                    <td>{{ match.homeGrade }}</td>
                    <td>{{ match.awayGrade }}</td> -->
                    <td class="text-nowrap">{{ match.homeScore }} - {{ match.awayScore }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <ng-template #fixtureNotDefined>
            <p>Giornata non definita</p>
          </ng-template>
        </accordion-group>
      </accordion>
    </fieldset>
  </ng-template>

  <!-- modal match result -->
  <div
    *ngIf="showModalMatchResult"
    class="modal fade"
    bsModal
    #modalMatchResult="bs-modal"
    [config]="{ backdrop: 'static', keyboard: true, show: true }"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
    (onHidden)="onHiddenMatchResult()"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header titolo">
          <h4 class="modal-title">Risultato</h4>
          <button type="button" class="btn-close close pull-right" aria-label="Chiudi" (click)="hideModalMatchResult()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <fbm-match-result
            [fixture]="selectedFixture"
            [match]="selectedMatch"
            [homeTeamLineup]="homeTeamLineup"
            [awayTeamLineup]="awayTeamLineup"
          ></fbm-match-result>
        </div>
      </div>
    </div>
  </div>
</ng-container>
