/* You can add global styles to this file, and also import other style files */

@import '~bootswatch/dist/darkly/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/darkly/bootswatch';

// partials
@import 'styles/fonts';
@import 'styles/loading';

html {
  font-size: 14px;
}

// padding per la navbar bootstrap fixed top
body {
  @include media-breakpoint-up(sm) {
    padding-top: 7rem;
  }
  @include media-breakpoint-down(xs) {
    padding-top: 5rem;
  }
}

form {
  margin-bottom: 1rem;
}

button {
  margin: 0.5rem;
}

ul {
  padding-left: 1rem;
  // list-style-type: none;
}

// fix calendario
button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

// bootstrap
.container-fluid {
  margin-bottom: 2rem;
}

.navbar {
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-control:disabled, .form-control[readonly] {
  color: $gray-500;
}

.form-group {
  margin-bottom: 1rem;
}

// customizzazione modal
.modal-header {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.modal-content {
  border-radius: 0.5rem;
}

.modal-title {
  width: 100%;
  text-align: center;
}

.breadcrumb {
  padding: 0.25rem 1rem;
}

// ng-select
ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: $danger;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px $gray-700;
}

.ng-select-invalid-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: $danger;
}

.ng-dropdown-panel {
	.ng-dropdown-panel-items {
		.ng-option.ng-option-selected {
			color: $gray-700;
			background-color: $gray-500;
		}
		.ng-option.ng-option-selected.ng-option-marked {
			color: $gray-700;
			background-color: $gray-500;
		}
		.ng-option.ng-option-marked {
			background-color: $gray-400;
			color: $gray-700;
		}
	}
}

// Sortable
.sortable-item {
  padding: 6px 12px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  cursor: grab;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: $gray-800;
  background-color: $gray-600;
}

.sortable-item-active {
  background-color: $gray-500;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.sortable-wrapper {
  min-height: 150px;
}

// toastr
.toast-container {
	.ngx-toastr {
		box-shadow: 0 0 12px $gray-800;
    color: $body-color;
		&:hover {
			box-shadow: 0 0 12px $gray-700;
		}
	}
}

.fieldset {
  background: $gray-700;
  margin: 1rem;
  border-radius: 0.5rem;
  padding-top: 0.35em;
  padding-right: 0.625em;
  padding-bottom: 0;
  padding-left: 0.625em;
  border: 1px solid $gray-900;
}

.legend {
  color: $gray-400;
  border: 1px solid $gray-700;
  border-radius: 0.5rem;
  background-color: $gray-900;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: inherit;
  margin-bottom: 0.5rem;
  font-size: 15px;
}

.padding {
  padding: 1rem;
}

.icon-padding {
  padding-right: 4px;
}

.manina {
  cursor: pointer;
}

// flottante
@mixin float-mixin() {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: $success;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px $gray-700;
  z-index: 1;
}

.float {
  @include float-mixin();
}

.float-2 {
  @include float-mixin();
  background-color: $primary;
  right: 120px;
}

.my-float {
  margin-top: 22px;
  font-size: x-large;
  line-height: 2.5em;
}

.nowrap {
  white-space: nowrap;
}

