<div class="float manina" (click)="nuovo()">
  <fa-icon icon="plus" class="my-float"></fa-icon>
</div>
<div class="float-2 indent manina" (click)="apriPopupUpload()">
  <fa-icon icon="upload" class="my-float"></fa-icon>
</div>

<fieldset class="fieldset">
  <legend class="legend"><fa-icon icon="users" class="icon-padding"></fa-icon>Gestione utenti</legend>

  <div class="table-responsive" *ngIf="users && users.length > 0; else empty">
    <table class="table table-hover" aria-label="Gestione utenti">
      <thead class="thead-dark">
        <tr>
          <th id="name">Nome</th>
          <th id="email">Email</th>
          <th id="role">Ruolo</th>
          <th id="actions">Azioni</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let user of users" class="table-secondary">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <app-user-role-icon [role]="user.role"></app-user-role-icon>
          </td>

          <td class="text-nowrap">
            <button
              type="button"
              class="btn btn-warning"
              (click)="modifica(user)"
              tooltip="Modifica"
              placement="top"
              [disabled]="user.role === Role.Admin || user.role === Role.SuperAdmin ? !(isSuperAdmin$ | async) : false"
            >
              <fa-icon icon="pencil-alt"></fa-icon>
            </button>
            <button
              type="button"
              class="btn btn-danger"
              (click)="apriPopupElimina(user)"
              tooltip="Elimina"
              placement="top"
              [disabled]="user.role === Role.Admin || user.role === Role.SuperAdmin ? !(isSuperAdmin$ | async) : false"
            >
              <fa-icon icon="trash"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #empty>
    <h4 class="padding">Nessun utente presente</h4>
  </ng-template>
</fieldset>

<!-- popup elimina -->
<app-popup-conferma
  #popupConfermaElimina
  titolo="Elimina utente"
  btnConferma="Elimina"
  btnAnnulla="Annulla"
  (conferma)="confermaElimina()"
  (annulla)="popupConfermaElimina.chiudiModale()"
>
</app-popup-conferma>

<!-- popup inserimento/modifica utente -->
<div
  *ngIf="mostraPopupModifica"
  class="modal fade"
  bsModal
  #modal="bs-modal"
  [config]="{ backdrop: 'static', keyboard: false, show: true }"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header titolo">
        <h4 class="modal-title">{{ titoloModale }}</h4>
      </div>

      <div class="modal-body">
        <app-user-form [user]="userSelected" (salva)="salva($event)" (annulla)="annulla()"></app-user-form>
      </div>
    </div>
  </div>
</div>

<!-- popup upload -->
<app-upload #popupUpload titolo="Upload utenti" (upload)="confermaUpload($event)" (annulla)="popupUpload.chiudiModale()"></app-upload>
