<app-login (login)="login($event)" *ngIf="!isLoggedIn(); else loggedInTemplate"></app-login>

<ng-template #loggedInTemplate>
  <fieldset class="fieldset">
    <legend class="legend">
      <fa-icon icon="list-ul" class="icon-padding"></fa-icon>Lista leghe giocate
    </legend>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Nome</th>
            <th>Formato stagione regolare</th>
            <th>Formato playoff</th>
            <th>Formato coppa</th>
            <th>Formato playout</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of listaLeghe" class="manina" (click)="selectLeague(item)">
            <td width="20%">{{item.name}}</td>
            <td width="20%">{{item.regularSeasonFormat.value.label}}</td>
            <td width="20%">{{item.playoffFormat.value.label}}</td>
            <td width="20%">{{item.playoutFormat.value.label}}</td>
            <td width="20%">{{item.cupFormat.value.label}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</ng-template>